@media screen and (max-width: 61.25em){.center-block{max-width:43.75em;}}@media screen and (max-width: 30em){.center-block{min-width:280px;}}
.lt-ie9 body{min-width:960px;}
.mobile-view{display:none;}
@media screen and (max-width: 45em){.mobile-view{display:block;} .desktop-view{display:none;}}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{zoom:1;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clear{clear:both;}
body{font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;font-size:16px;line-height:1.5;color:#222;padding:0;background:#343434 url('../../images/template/darkdenim3.png') repeat;background-size:420px 326px;}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){body{background-image:url('../../images/template/darkdenim3-2x.png');}}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:.1em;line-height:1;}
h2,.like-h2,article h1,.aside h1{font-weight:700;font-size:2.3em;line-height:1;margin:0 0 .75em 0;}
h3,.like-h3,article h2,.aside h2{font-weight:700;font-size:1.6em;line-height:1;margin:0 0 1em 0;}
h4,.like-h4,article h3,.aside h3{font-weight:700;font-size:1.2em;line-height:1.25;margin:0 0 1.25em 0;}
h5,.like-h5,article h4,.aside h4{font-style:italic;font-weight:700;font-size:1.1em;line-height:1.25;margin:0 0 1.25em 0;}
h6,.like-h6,article h5,.aside h5{font-style:italic;font-size:1em;line-height:1.25;margin:0 0 1.25em 0;}
p{margin:0 0 1.5em 0;}
a:focus,a:hover{color:#222;text-decoration:none;}
a{color:#222;text-decoration:underline;}
blockquote{margin:0 0 1.5em 0;padding-left:1em;border-left:solid 1px #f1b82d;color:#dca10f;font-size:1.6em;line-height:1.4;}blockquote p{margin:0 0 1.5em 0!important;}
blockquote *:last-child{margin-bottom:0!important;}
strong,dfn{font-weight:bold;}
em,dfn{font-style:italic;}
sup,sub{height:0;line-height:1;vertical-align:baseline;_vertical-align:bottom;position:relative;font-size:.8em;margin-left:.2em;}
sup{bottom:.3em;}
sub{top:.2em;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em "andale mono","lucida console",monospace,monospace;line-height:1.5;}
li ul,li ol{margin:0;}
ul,ol{margin:0 0 1.5em 0;padding-left:1.5em;}
ul{list-style-type:disc;}ul.no-list{list-style:none;padding:0;}
ol{list-style-type:decimal;}
dl{margin:0 0 30px 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
hr{background:#f1b82d;color:#f1b82d;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}hr.space{background:transparent;color:transparent;visibility:hidden;}
.box h2,.aside h2,.box h3,.aside h3,.box h4,.aside h4,.box h5,.aside h5,.box h6,.aside h6{margin-bottom:.5em;}
@media screen and (max-width: 30em){h2{font-size:1.8em;}}small,.small{display:block;line-height:1.4;margin-bottom:1.2em;}
img,embed,object,video{width:auto;height:auto;max-width:100%;}
iframe{max-width:100%;}
.bottom{margin-bottom:0!important;}
.left{float:left!important;}
.right{float:right!important;}
.last{margin-right:0!important;}
.caps{font-size:90%;}
.dquo{margin-left:-0.3em;}
.quo{margin-left:-0.2em;}
iframe{vertical-align:baseline;}
.box{padding:1em;background-color:#fcf1d4;font-size:.9em;margin-bottom:1.5em;}.box *:last-child{margin-bottom:1px;}
.dropcap,.dropcap-hang{font-weight:700;float:left;display:block;line-height:.7;font-size:5.4em;margin:0.11em 0.08em 0 -0.04em;}
.dropcap-hang{margin-left:-0.3em;}
@media screen and (max-width: 45em){.dropcap,.dropcap-hang{line-height:.8;font-size:3.4em;margin:0.07em 0.08em 0 -0.04em;} .dropcap-hang{margin-left:-0.2em;}}.accent{color:#900000 !important;}
.center-text{text-align:center;}
table{background-color:transparent;margin-bottom:1.5em;width:100%;font-size:.9em;}table tr{background-color:#eee;}table tr td,table tr th{padding:.6em;vertical-align:top;line-height:1.2;text-align:left;}
table tr th{font-weight:700;}
table tr.even{background-color:transparent;}
table thead{font-weight:700;font-size:1.2em;border-bottom:1px solid #f1b82d;}table thead strong,table thead b{font-weight:400;}
table thead td,table thead th{background:#fcf1d4;padding:.5em;}
table tfoot{font-style:italic;border-top:1px solid #f1b82d;}
table .w10{width:10%;}
table .w12{width:12%;}
table .w15{width:15%;}
table .w20{width:20%;}
table .w25{width:25%;}
table .w30{width:30%;}
table .w33{width:33%;}
table .w35{width:35%;}
table .w40{width:40%;}
table .w45{width:45%;}
table .w50{width:50%;}
table .w55{width:55%;}
table .w60{width:60%;}
table .w65{width:65%;}
table .w66{width:66%;}
table .w70{width:70%;}
table .w75{width:75%;}
table .w80{width:80%;}
table .w85{width:85%;}
table .w90{width:90%;}
label{font-weight:bold;line-height:1.1;display:block;margin:0 0 .1em 0;}
fieldset{padding:1em;margin:-0.5em 0 1.5em 0;border:1px solid #f1b82d;}
legend{font-weight:700;font-size:1.3em;}
input.text,input.title,textarea,select{margin:.5em 0 1em;border:1px solid #bbb;}
input.text:focus,input.title:focus,textarea:focus,select:focus{border:1px solid #666;}
input.text,input.title{width:95%;padding:1%;}
input.title{font-size:1.5em;}
textarea{width:95%;height:250px;padding:1%;}
input.submit-button{font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}input.submit-button:hover,input.submit-button:focus{cursor:pointer;color:#000;background:#f7d88d;}
input.submit-button::-moz-focus-inner{border:0;}
.inline li{margin-bottom:1em;}
.inline input,.inline label{display:inline;margin-right:.5em;}
.email-icon,.pdf-icon,.doc-icon,.xls-icon,.ppt-icon,.rtf-icon{padding:2px 0 2px 20px;background-repeat:no-repeat;background-position:0 40%;}
.email-icon{background-image:url('../../images/template/icons/email.png');background-image:none,url('../../images/template/icons/email.svg');}
.pdf-icon{background-image:url('../../images/template/icons/pdf.png');background-image:none,url('../../images/template/icons/pdf.svg');}
.doc-icon{background-image:url('../../images/template/icons/doc.png');background-image:none,url('../../images/template/icons/doc.svg');}
.xls-icon{background-image:url('../../images/template/icons/xls.png');background-image:none,url('../../images/template/icons/xls.svg');}
.ppt-icon{background-image:url('../../images/template/icons/ppt.png');background-image:none,url('../../images/template/icons/ppt.svg');}
.rtf-icon{background-image:url('../../images/template/icons/rtf.png');background-image:none,url('../../images/template/icons/rtf.svg');}
.external-icon{padding-right:14px;background-image:url('../../images/template/icons/external.png');background-image:none,url('../../images/template/icons/external.svg');background-position:right center;background-repeat:no-repeat;}
::-moz-selection{color:#000;color:rgba(0, 0, 0, 0.85);background:rgba(241, 184, 45, 0.7);}
::selection{color:#000;color:rgba(0, 0, 0, 0.85);background:rgba(241, 184, 45, 0.7);}
.offset a{position:absolute;left:-1000em;padding:10px 15px;font-weight:bold;color:#222;font-size:1em;border:solid 1px #f1b82d;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);}
.offset a:focus,.offset a:active{position:fixed;top:2em;left:2em;z-index:1000;}
#tactical{padding:0 10px 0 10px;color:#ccc;font-weight:300;position:relative;z-index:1;}#tactical a{color:#ccc;text-decoration:none;padding:.3em .5em;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;display:block;font-size:.9em;}#tactical a:hover,#tactical a:focus{color:#f1b82d;background:#333;background:rgba(225, 225, 225, 0.15);}
#tactical section{position:relative;max-width:940px;min-width:280px;margin-left:auto;margin-right:auto;zoom:1;padding:.4em 0 .5em;}@media screen and (max-width: 61.25em){#tactical section{max-width:43.75em;}}@media screen and (max-width: 30em){#tactical section{min-width:280px;}}#tactical section:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 45em){#tactical section{padding:.1em 0;}}
#tactical ul{display:block;list-style:none;margin:0;padding:0;float:right;}#tactical ul li{float:left;padding:0 .25em 0;margin:4px 0 1px 0;line-height:16px;}#tactical ul li:last-child{padding-right:0;}
#tactical ul li:first-child{padding-left:0;}
#tactical ul .search-container{width:340px;margin-top:0;}#tactical ul .search-container form{margin:0;}
@media screen and (max-width: 61.25em){#tactical ul .search-container{width:240px;}}
#tactical .left-tact{float:left;margin-left:-0.4em;}
@media screen and (max-width: 45em){#tactical .search-container{display:none;} #tactical ul{margin-right:-0.5em;}}.header-wrapper{background-color:#f2f2f2;padding:0 10px;position:relative;zoom:1;}.header-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#wrapper{z-index:2;-moz-box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);-webkit-box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);min-width:18.75em;}
.main-wrapper{background:#fff;padding:1.5em 0 .5em 0;position:relative;min-height:475px;zoom:1;}.main-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 45em){.main-wrapper{padding:0 0.625em .5em 0.625em;}}
#header{position:relative;max-width:940px;min-width:280px;margin-left:auto;margin-right:auto;padding:.9em 0 .8em;}@media screen and (max-width: 61.25em){#header{max-width:43.75em;}}@media screen and (max-width: 30em){#header{min-width:280px;}}#header #brand{text-decoration:none;margin:0;display:block;float:left;font-size:1px;text-indent:-9999em;width:55px;height:63px;background:url('../../images/template/mulogo.png') no-repeat 0 0;}#header #brand:hover{background-position:0 -64px;}
#header #masthead{margin:0;}#header #masthead a{text-decoration:none;display:block;font-size:1px;text-indent:-9999em;}
#header #brand-tag{margin:0;}#header #brand-tag a{text-decoration:none;display:block;font-size:1px;text-indent:-9999em;width:175px;height:20px;background:url('../../images/template/university-missouri.png') no-repeat 0 0;}#header #brand-tag a:hover{background-position:0 -20px;}
#header #masthead,#header #brand-tag{margin-left:72px;}
@media screen and (max-width: 45em){#header{}#header #brand{width:44px;height:50px;background-size:44px 102px;}#header #brand:hover{background-position:0 -51px;} #header #masthead,#header #brand-tag{margin-left:56px;}}
.inlinesvg #header #brand{background-image:url('../../images/template/mulogo.svg');}
.inlinesvg #header #brand-tag a{background-image:url('../../images/template/university-missouri.svg');}
#footer{padding:1.5em 10px 2em 10px;color:#ccc;border-top:5px solid #f1b82d;font-weight:300;position:relative;z-index:1;}#footer a{color:#ccc;}#footer a:hover{color:#f1b82d;}
#footer footer{position:relative;max-width:940px;min-width:280px;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#footer footer{max-width:43.75em;}}@media screen and (max-width: 30em){#footer footer{min-width:280px;}}
#footer .footer-top{margin-bottom:1em;zoom:1;}#footer .footer-top:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#footer .fine-print{border-top:solid 1px #666;padding:1em 0;margin-bottom:1em;zoom:1;}#footer .fine-print:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#footer .social,#footer .alert{width:23.4042553191%;float:right;}
#footer .footer-brand,#footer small{width:74.4680851064%;float:left;}
#footer .footer-brand{font-size:.9em;position:relative;clear:both;}#footer .footer-brand .logo{float:left;width:280px;height:43px;text-indent:-9999em;display:block;text-decoration:none;background:url('../../images/template/brand-footer.png') no-repeat 0 0;border-right:solid 1px #666;padding-right:20px;margin-right:20px;margin-top:4px;}#footer .footer-brand .logo:hover{background-position:0 -44px;}
#footer .footer-brand .address{margin-bottom:0;padding-top:5px;}#footer .footer-brand .address span{display:none;}
#footer .social{display:block;text-decoration:none;}#footer .social span{display:block;text-align:left;padding:8px 0 5px 68px;margin-left:-0.5em;margin-right:-0.5em;min-height:22px;background:url('../../images/template/face-twit.png') no-repeat 0.5em 50%;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#footer .social span:hover{color:#f1b82d;background-color:#333;background-color:rgba(225, 225, 225, 0.15);}
#footer .alert{margin-bottom:1em;}#footer .alert a{display:block;}
#footer .alert .alert-icon{display:block;text-align:center;padding:5px 0 5px 30px;margin-left:-0.5em;min-height:15px;background:url('../../images/template/exclaim.png') no-repeat left center;}
@media screen and (max-width: 61.25em){#footer .social{font-size:.9em;line-height:1;} #footer .alert .extra{display:none;}}@media screen and (max-width: 45em){#footer .alert{font-size:1.2em;width:auto;float:none;} #footer .alert .extra{display:inline;} #footer .footer-brand{width:auto;float:none;margin-bottom:1em;} #footer .social{font-size:1em;width:auto;float:none;}#footer .social span{padding-top:12px;} #footer small{display:block;width:100%;float:none;}}@media screen and (max-width: 30em){#footer .footer-brand{margin-bottom:1em;}#footer .footer-brand .logo{float:none;padding-right:0;border:none;margin-bottom:.5em;} #footer .footer-brand .address{display:block;clear:both;}#footer .footer-brand .address span{display:inline;} #footer .footer-brand .address br{display:none;}}
.inlinesvg #footer .footer-brand .logo{background-image:url('../../images/template/brand-footer.svg');}
.inlinesvg #footer .social span{background-image:url('../../images/template/face-twit.svg');}
.inlinesvg #footer .alert .alert-icon{background-image:url('../../images/template/exclaim.svg');}
.button{margin-bottom:2em;}.button a{text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.button a:hover,.button a:focus{background:#f7d88d;color:#000;}
.search{position:relative;background-color:#fff;height:22px;right:0;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #f1b82d;margin-top:4px;}
input.search-field{width:66%;height:22px;border:none;padding:0 2%;margin:0 !important;background:transparent;font-size:13px;position:absolute;left:0;font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;-moz-border-radius:1px 0 1px 0 0px 0px 0px;-webkitborder-radius:1px 0 1px 0 0px 0px 0px;border-radius:1px 0 1px 0 0px 0px 0px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
input.search-button{font-size:12px;width:29%;height:22px;padding:3px 0 0;margin:0;position:absolute;right:0;color:#222;border:none;font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;font-weight:normal;line-height:1;text-transform:uppercase;border-left:solid 1px #f1b82d;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:0 1px 1px 0;-webkitborder-radius:0 1px 1px 0;border-radius:0 1px 1px 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}input.search-button:hover,input.search-button:focus{cursor:pointer;color:#000;background:#f7d88d;}
input.search-button::-moz-focus-inner{border:0;}
.search-box{padding:1em 0;background-color:#fcf1d4;margin-bottom:2.5em;max-width:460px;}.search-box .search{margin:0 1em;border-color:#666;height:27px;}.search-box .search input.search-field{height:27px;}
.search-box .search input.search-button{height:27px;line-height:26px;font-size:14px;padding-top:1px;color:#ccc;border-color:#111;text-shadow:0 1px 1px #444444;letter-spacing:1px;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);overflow:hidden;}.search-box .search input.search-button:hover,.search-box .search input.search-button:focus{color:#fff;background:#444;}
.search-meta{border-bottom:solid 1px #f1b82d;margin-bottom:1.5em;}.search-meta h3{margin-bottom:0;}
.search-meta .meta-time{display:none;}
.suggested{padding:1em;background-color:#fcf1d4;font-size:.9em;margin-bottom:1.5em;margin-bottom:2.5em;}.suggested h2,.suggested h3,.suggested h4,.suggested h5,.suggested h6{margin-bottom:.5em;}
.suggested *:last-child{margin-bottom:1px;}
.search-results{list-style:none;padding:0;}.search-results li{margin-bottom:2.5em;}
.search-results .title{margin-bottom:.5em;}
.search-results .excerpt{margin-bottom:.5em;}
.search-results .source{color:#666;}
.search-results b{color:#900000;}
.search-results h3 b{background-color:#fcf1d4;}
.search-results .indent{margin-left:3em;}
.meta-suggest{margin-bottom:1.5em;}.meta-suggest .meta-spelling{margin-bottom:.5em;}
.meta-suggest .meta-synonym{margin-bottom:.5em;}
.search-string{color:#900000;}
.pagination-wrapper{clear:both;border-top:solid 1px #f1b82d;padding-top:1.5em;}
.pagination{list-style:none;padding:0;}.pagination li{display:inline;margin-bottom:2em;line-height:2.5em;}.pagination li a{text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.pagination li a:hover,.pagination li a:focus{background:#f7d88d;color:#000;}
.pagination li.current a{background:#111;color:#eee !important;text-shadow:0 0 0 transparent;border-color:#111;}
.subnav{display:block;list-style:none;padding:0 0 0 0;margin-right:0;line-height:1.2;border:solid 1px #f1b82d;background:#f6d075;}.subnav a{display:block;text-decoration:none;color:#222;padding:.5em 10px;text-shadow:0 1px 1px #fcf1d4;}.subnav a:hover,.subnav a:focus{background:#fcf1d4;}
.subnav li.selected>a{background:#fcf1d4;}
.subnav li ul{list-style:none;padding:0;font-size:.8em;font-weight:700;border-left:solid 0.5em #f1b82d;background-color:#f9e0a5;}.subnav li ul li a{padding-left:1em;text-shadow:0 0 0;}
.dates{margin-bottom:1.5em;}
.date-header h3{margin-bottom:0;line-height:1.1;font-size:1.1em;text-shadow:0px 1px 1px #fcf1d4;font-weight:400;}
.date-header a{display:block;text-decoration:none;padding:12px 10px;border:solid 1px #f1b82d;-moz-border-radius:2px 2px 0 0;-webkitborder-radius:2px 2px 0 0;border-radius:2px 2px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.date-header a:hover,.date-header a:focus{background:#f7d88d;}
.date-content{padding:10px;background-color:#e4e4e4;}.date-content ul{list-style:none;padding:0;margin:0;margin-bottom:1em;font-size:.9em;}.date-content ul li{margin-bottom:1em;}
.date-content ul a{line-height:1.3;display:block;}
.nav-wrapper{padding:0 10px;position:relative;z-index:1;border:solid 1px #f1b82d;border-left:none;border-right:none;border-bottom-color:#d39a0e;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}@media screen and (max-width: 45em){.nav-wrapper{display:none;}}
#nav{position:relative;max-width:940px;min-width:280px;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#nav{max-width:43.75em;}}@media screen and (max-width: 30em){#nav{min-width:280px;}}#nav>ul{list-style:none;margin:0 160px 0 0;padding:0;display:block;zoom:1;}#nav>ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 61.25em){#nav>ul{margin:0;}}#nav>ul>li{float:left;display:block;padding:.25em;}#nav>ul>li a{display:block;text-decoration:none;text-shadow:0px 1px 1px #fcf1d4;padding:.25em .7em;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul>li a:hover,#nav>ul>li a:focus{background:#fcf1d4;}
#nav>ul li.home{position:relative;padding:1px;background:#111;margin:-1px 0.25em -1px 0;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);}#nav>ul li.home a{padding:.5em 3em .5em 1em;background:transparent url('../../images/template/arrow-dn.png') no-repeat 82% 50%;color:#ddd;text-shadow:0px 1px 1px #000000;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul li.home a:hover,#nav>ul li.home a:focus{color:#f1b82d;}
#nav>ul li.home:hover>ul,#nav>ul li.home:focus>ul{background-color:#111;}
#nav>ul>li.home>ul{z-index:1000;list-style:none;padding:0 0 5px 0;top:100%;left:-9999em;position:absolute;width:220px;line-height:1.2;font-size:.95em;background-color:#111;}#nav>ul>li.home>ul a{background-image:none;padding:6px .5em 6px 1em;}#nav>ul>li.home>ul a:hover,#nav>ul>li.home>ul a:focus{background-color:#333;color:#f1b82d;}
@media screen and (max-width: 61.25em){#nav>ul>li.home>ul a{padding:5px .5em 5px 1em;}}
#nav>ul>li.home:hover>ul,#nav>ul>li.home.hover>ul{left:0;}
#nav>ul>li.home.hover>ul{display:block !important;}
#nav>ul li.apply{position:absolute;right:0;top:-1px;padding:0;background:#111;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;}#nav>ul li.apply a{padding:.5em 1.5em;color:#eee;text-shadow:0 0 0 transparent;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:transparent;position:relative;z-index:2;border:solid 1px #BE0D0B;border-bottom-color:#840605;background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #ee5150), color-stop(16%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-o-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);}#nav>ul li.apply a:hover,#nav>ul li.apply a:focus{color:#f1b82d;}
@media screen and (max-width: 61.25em){#nav>ul li.apply{top:-50px;-moz-border-radius:4px;-webkitborder-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul li.apply a{padding:.2em 1.5em;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}}#nav>ul li.apply .truman-head{display:block;width:100%;height:60px;background:transparent url('../../images/template/truman-face.png') no-repeat center top;background-size:80px 83px;position:absolute;top:-32px;z-index:1;-webkit-transition:top linear 0.2s;-moz-transition:top linear 0.2s;-o-transition:top linear 0.2s;transition:top linear 0.2s;}
#nav>ul li.apply .truman-hands{display:block;width:100%;height:22px;background:transparent url('../../images/template/truman-paws.png') no-repeat center center;background-size:140px 22px;position:absolute;top:-9px;left:0px;z-index:3;}
#nav>ul li.apply:hover .truman-head,#nav>ul li.apply:focus .truman-head{top:-52px;}@media screen and (max-width: 61.25em){#nav>ul li.apply:hover .truman-head,#nav>ul li.apply:focus .truman-head{top:-45px;}}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){#nav>ul li.apply .truman-head{background-image:url('../../images/template/truman-face-2x.png');} #nav>ul li.apply .truman-hands{background-image:url('../../images/template/truman-paws-2x.png');}}
.inlinesvg #nav>ul li.home>a{background-image:url('../../images/template/arrow-dn.svg');}
.js #nav>ul>li.home>ul{display:none;}
.homepage #nav>ul>li.home>ul{display:block;left:0;min-height:455px;}@media screen and (max-width: 61.25em){.homepage #nav>ul>li.home>ul{min-height:425px;}}
.backgroundsize .homepage #nav>ul>li.home>ul{background-color:rgba(0, 0, 0, 0.85);}.backgroundsize .homepage #nav>ul>li.home>ul:hover,.backgroundsize .homepage #nav>ul>li.home>ul:focus{background-color:#111;}
html .homepage.notice #nav>ul>li.home>ul,html .homepage.nobanner #nav>ul>li.home>ul{background-color:#111;}
#mobile-nav,#mobile-search,#mobile-main-menu,#mobile-audience{display:none;}
@media screen and (max-width: 45em){#mobile-nav{zoom:1;position:relative;display:block;width:120%;padding:0 5px 0 0px;left:-10px;margin-bottom:1em;-moz-border-radius:0 6px 6px 0;-webkitborder-radius:0 6px 6px 0;border-radius:0 6px 6px 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;border-left:none;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);}#mobile-nav:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} #mobile-nav #menu-button{float:right;width:47px;height:47px;}#mobile-nav #menu-button a{display:block;width:50px;height:46px;position:relative;text-indent:-9999em;background:url('../../images/template/bg-mobile-nav.png') no-repeat center center;background-size:30px 18px;}#mobile-nav #menu-button a.active-button{background-position:center center;} .js #mobile-nav{width:289px;} #mobile-search{background:#111;padding:7px 10px 7px 65px;margin:0 -10px 1.5em -10px;zoom:1;position:relative;display:block;border:solid 1px #f1b82d;border-bottom-color:#d39a0e;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}#mobile-search:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} #mobile-search .search{margin:0;border-color:#d39a0e;-moz-border-radius:5px;-webkitborder-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;overflow:hidden;} #mobile-search input.search-button{color:#ccc;border-color:#111;text-shadow:0 1px 0 #444444;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);overflow:hidden;}#mobile-search input.search-button:hover,#mobile-search input.search-button:focus{color:#fff;background:#444;} #main-menu-button{background-color:#343434;background:#333333;background:-moz-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-ms-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #666666), color-stop(26%, #595959), color-stop(100%, #111111));background:-webkit-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-o-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);margin-top:6px;width:239px;-moz-border-radius:0 4px 0 0;-webkitborder-radius:0 4px 0 0;border-radius:0 4px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;border-left:none;}#main-menu-button a{display:block;color:#f1b82d;text-decoration:none;line-height:1.2;padding:8px 10px 5px 35px;background:url('../../images/template/arrow-dn.png') no-repeat 10px 55%;} #mobile-main-menu{display:none;position:relative;top:-1.5em;margin-left:-10px;margin-right:-10px;padding-bottom:8px;margin-bottom:0;background:#111;-moz-border-radius:0 0 2px 2px;-webkitborder-radius:0 0 2px 2px;border-radius:0 0 2px 2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:none;}#mobile-main-menu a{padding:.55em 11px .55em 11px;color:#ddd;text-shadow:0 0 0 transparent;}#mobile-main-menu a:hover,#mobile-main-menu a:focus{background:#333;background:rgba(225, 225, 225, 0.25);color:#f1b82d;} #mobile-main-menu.active-menu{display:block;} .no-js #mobile-main-menu{display:block;} #mobile-audience{display:block;}#mobile-audience>ul{background:#f6d075;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}#mobile-audience>ul a{text-shadow:0px 1px 1px #fcf1d4;}#mobile-audience>ul a:hover,#mobile-audience>ul a:focus{background:#fcf1d4;} #mobile-audience .apply{padding:0;position:relative;margin-bottom:1.5em;margin-top:2.6em;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;}#mobile-audience .apply a{display:block;padding:.5em 1.5em;text-align:center;text-decoration:none;color:#eee;text-shadow:0 0 0 transparent;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;position:relative;z-index:2;border:solid 1px #BE0D0B;border-bottom-color:#840605;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #ee5150), color-stop(16%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-o-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);}#mobile-audience .apply a:hover,#mobile-audience .apply a:focus{color:#f1b82d;} #mobile-audience .apply .truman-head{display:block;width:100%;height:60px;background:transparent url('../../images/template/truman-face.png') no-repeat center top;background-size:80px 83px;position:absolute;top:-32px;z-index:1;-webkit-transition:top linear 0.2s;-moz-transition:top linear 0.2s;-o-transition:top linear 0.2s;transition:top linear 0.2s;} #mobile-audience .apply .truman-hands{display:block;width:100%;height:22px;background:transparent url('../../images/template/truman-paws.png') no-repeat center center;background-size:140px 22px;position:absolute;top:-9px;left:0px;z-index:3;} #mobile-audience .apply:hover .truman-head,#mobile-audience .apply:focus .truman-head{top:-48px;} .inlinesvg #mobile-nav #menu-button a{background-image:url('../../images/template/bg-mobile-nav.svg');} .inlinesvg #main-menu-button a{background-image:url('../../images/template/arrow-dn.svg');}}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){#mobile-audience .apply .truman-head{background-image:url('../../images/template/truman-face-2x.png');} #mobile-audience .apply .truman-hands{background-image:url('../../images/template/truman-paws-2x.png');}}#masthead a{margin-bottom:5px;width:180px;height:45px;background:url('../../images/template/mizzou.png') no-repeat 0 0;}#masthead a:hover{background-position:0 -65px;}
@media screen and (max-width: 45em){#masthead a{width:153px;height:38px;background-size:153px 111px;}#masthead a:hover{background-position:0 -55px;}}
.inlinesvg #masthead a{background-image:url('../../images/template/mizzou.svg');}
#main{position:relative;max-width:940px;min-width:280px;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#main{max-width:43.75em;}}@media screen and (max-width: 30em){#main{min-width:280px;}}
#main-aside{float:left;width:23.404255319148938%;}
.aside{float:right;width:31.428571428571427%;}
#main-content{float:right;width:74.46808510638297%;}
.content{float:left;width:65.71428571428571%;}
.content,.aside{margin-bottom:1.5em;}
.wide #main-aside{width:0;}
.wide #main-content{width:100%;}
.wide .aside{width:23.404255319148938%;}
.wide .content{width:74.46808510638297%;}.wide .content .col-1{float:left;width:48.57142857142857%;}
.wide .content .col-2{float:right;width:48.57142857142857%;}
.col-1{float:left;width:48.57142857142857%;}
.col-2{float:right;width:48.57142857142857%;}
.homepage .aside,html .homepage.notice .aside,html .homepage.nobanner .aside{margin-top:460px;}
.backgroundsize .homepage .aside{margin-top:0;}
.gateway-nav{float:left;width:23.4042553191%;margin-bottom:.5em;}.gateway-nav .subnav{border-color:#111;background:#111;}
.gateway-nav .subnav li a{background:#111;color:#ddd;text-shadow:0 0 0 transparent;}.gateway-nav .subnav li a:hover,.gateway-nav .subnav li a:focus{background-color:#333;color:#f1b82d;}
.gateway-main{float:right;width:74.4680851064%;}.gateway-main .gateway-content{float:left;width:65.7142857143%;margin-bottom:1em;zoom:1;}.gateway-main .gateway-content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.gateway-main .gateway-content .col-1{float:left;width:47.8260869565%;}
.gateway-main .gateway-content .col-2{float:right;width:47.8260869565%;}
.gateway-main .gateway-aside{float:right;width:31.4285714286%;margin-bottom:1em;zoom:1;}.gateway-main .gateway-aside:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.a-z-nav{float:left;list-style:none;padding:0;width:8.571428571428571%;max-width:65px;}.a-z-nav a{display:block;text-decoration:none;text-align:center;margin-bottom:.5em;background:#111;color:#eee;padding:.3em 0;font-size:1.2em;-moz-border-radius:5px;-webkitborder-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;}
.a-z-nav a:hover,.a-z-nav a:focus,.a-z-nav li.current_page_item a{color:#111;border-color:#f1b82d;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}
.a-z-list{float:right;margin:0 0 1.5em 0;padding:0;width:85.71428571428571%;list-style:none;}.a-z-list li{margin-bottom:1.2em;line-height:1.2;}
.directory-meta h3{margin-bottom:0;}
.directory-meta .meta-result{color:#900000;font-weight:700;}
.directory-results .results{list-style:none;padding:0;}.directory-results .results .item{margin-bottom:2.5em;}
.directory-results .results .name{margin-bottom:.5em;}
@media screen and (max-width: 61.25em){.homepage .aside,html .homepage.notice .aside,html .homepage.nobanner .aside{margin-top:430px;} #main-aside{width:31.4285714286%;} .wide #main-aside{width:0;} #main-content{width:65.7142857143%;} .aside{width:100%;} .content{width:100%;} .wide #main-content{width:100%;} .wide .aside{width:31.428571428571427%;} .wide .content{width:65.71428571428571%;}.wide .content .col-1{float:left;width:48.57142857142857%;} .wide .content .col-2{float:right;width:48.57142857142857%;} .col-1{float:left;width:47.82608695652174%;} .col-2{float:right;width:47.82608695652174%;} .gateway-nav{width:31.4285714286%;} .gateway-main{width:65.7142857143%;}.gateway-main .gateway-content{width:100%;} .gateway-main .gateway-aside{width:100%;} .a-z-nav{width:13.043478260869565%;} .a-z-list{width:78.26086956521739%;}}@media screen and (max-width: 45em){.homepage .aside,html .homepage.notice .aside{margin-top:0px;} #wrapper{overflow:hidden;} #main-aside,#main-content{display:block;position:relative;} .wide #main-aside,#main-aside{width:100%;} .wide #main-content,#main-content{width:100%;} .js .wide #main-aside,.js #main-aside{margin-left:-240px;margin-top:-4px;float:left;padding-bottom:1.5em;z-index:200;width:220px;} .js .wide #main-content,.js #main-content{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:right;z-index:100;position:relative;width:100%;} .active-nav #main-aside{margin-left:0 !important;} .active-nav #main-content{margin-right:-15em !important;} .small-screen #main-aside,.small-screen #main-content{-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;} .wide .aside{width:100%;} .wide .content{width:100%;} .gateway-nav{width:100%;} .gateway-main{width:100%;} .a-z-nav{width:13.333333333333334%;} .a-z-list{width:80%;}}@media screen and (max-width: 30em){.wide .content .col-1,.wide .content .col-2,.col-1,.col-2{float:none;width:100%;} .gateway-main .gateway-content{margin-right:0;margin-left:0;}.gateway-main .gateway-content .col-1,.gateway-main .gateway-content .col-2{float:none;width:100%;}}#nav ul li.apply,ul#mobile-audience li.apply,#footer .social{display:none;}
.alert-box{color:#fff;background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #ee5150), color-stop(20%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-o-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);border:5px solid #BE0D0B;padding:2em 4em;margin:0 0 1.5em 0;text-align:center;}.alert-box a{color:#fff;}
.alert-box .headline{font-size:3em;margin-bottom:.3em;color:#fff !important;}
.alert-box .button{margin:2.5em 0 .5em 0;}
.content{float:left;}
.aside{float:right;}
.follow a{display:block;text-align:left;padding-left:10px;}.follow a span{display:block;background:url('../../images/template/twitter.png') no-repeat 0 50%;min-height:18px;padding:5px 0 0px 35px;}
.inlinesvg .follow a span{background-image:url('../../images/template/twitter.svg');}
@media screen and (max-width: 61.25em){.alert-box{padding:1em;} .alert-box .headline{font-size:2.5em;}}@media screen and (max-width: 45em){.alert-box .headline{font-size:2em;}}
