.clearfix{zoom:1;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clear{clear:both;}
@media screen and (max-width: 61.25em){.center-block{max-width:43.75em;}}@media screen and (max-width: 30em){.center-block{min-width:17.5em;}}
.lt-ie9 body{min-width:960px;}
.mobile-view{display:none;}
@media screen and (max-width: 45em){.mobile-view{display:block;} .desktop-view{display:none;}}.promo-wrapper{border-top:solid 1px #D6D6D6;background-color:#f2f2f2;}
.promo{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;padding:1.5em 0;}@media screen and (max-width: 61.25em){.promo{max-width:43.75em;}}@media screen and (max-width: 30em){.promo{min-width:17.5em;}}
.promo-mmu h2{display:block;overflow:hidden;padding:0;text-decoration:none;text-indent:-9999em;width:680px;height:100px;background:url('../../images/template/mmu-arrow.png') no-repeat 0 0;margin-left:-43px;}
.promo-mmu .news-tiles .news-item.clear{clear:none;}
.promo-mmu .news-tiles b{color:#900000;font-size:1.6em;line-height:1;}
.promo-mmu .news-tiles h3{font-size:1.2em;}
@media screen and (max-width: 61.25em){.promo-mmu .news-item{width:46.875%;margin-left:1.5625%;margin-right:1.5625%;}}@media screen and (max-width: 45em){.promo-mmu{padding:0 10px;}.promo-mmu h2{margin-left:-10px;margin-right:-10px;width:auto;background-size:100%;height:2.7em;}}@media screen and (max-width: 30em){.promo-mmu h2{height:1.8em;} .promo-mmu .news-item{width:100%;margin-left:0;margin-right:0;}}
.inlinesvg .promo-mmu h2{background-image:url('../../images/template/mmu-arrow.svg');}
