article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{zoom:1;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clear{clear:both;}
@media screen and (max-width: 61.25em){.center-block{max-width:43.75em;}}@media screen and (max-width: 30em){.center-block{min-width:17.5em;}}
.lt-ie9 body{min-width:960px;}
.mobile-view{display:none;}
@media screen and (max-width: 45em){.mobile-view{display:block;} .desktop-view{display:none;}}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-Light-webfont.eot');src:url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Light-webfont.woff') format('woff'),url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-Light-webfont.svg') format('svg');font-weight:300;font-style:normal;}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-LightIt-webfont.eot');src:url('../fonts/ProximaNova-LightIt-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-LightIt-webfont.woff') format('woff'),url('../fonts/ProximaNova-LightIt-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-LightIt-webfont.svg') format('svg');font-weight:300;font-style:italic;}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-Reg-webfont.eot');src:url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-Reg-webfont.svg') format('svg');font-weight:400;font-style:normal;}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-RegIt-webfont.eot');src:url('../fonts/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-RegIt-webfont.woff') format('woff'),url('../fonts/ProximaNova-RegIt-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-RegIt-webfont.svg') format('svg');font-weight:400;font-style:italic;}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-Bold-webfont.eot');src:url('../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-Bold-webfont.svg') format('svg');font-weight:700;font-style:normal;}@font-face{font-family:'proxima-nova';src:url('../fonts/ProximaNova-BoldIt-webfont.eot');src:url('../fonts/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-BoldIt-webfont.woff') format('woff'),url('../fonts/ProximaNova-BoldIt-webfont.ttf') format('truetype'),url('../fonts/ProximaNova-BoldIt-webfont.svg') format('svg');font-weight:700;font-style:italic;}body{font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;font-size:16px;line-height:1.5;color:#222;padding:0;background:#343434 url('../../images/template/darkdenim3.png') repeat;background-size:420px 326px;}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){body{background-image:url('../../images/template/darkdenim3-2x.png');}}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:.1em;line-height:1;}
h2,.like-h2,article h1,.aside h1{font-weight:700;font-size:2.3em;line-height:1;margin:0 0 .75em 0;}
h3,.like-h3,article h2,.aside h2{font-weight:700;font-size:1.6em;line-height:1;margin:0 0 1em 0;}
h4,.like-h4,article h3,.aside h3{font-weight:700;font-size:1.2em;line-height:1.25;margin:0 0 1.25em 0;}
h5,.like-h5,article h4,.aside h4{font-style:italic;font-weight:700;font-size:1.1em;line-height:1.25;margin:0 0 1.25em 0;}
h6,.like-h6,article h5,.aside h5{font-style:italic;font-size:1em;line-height:1.25;margin:0 0 1.25em 0;}
p{margin:0 0 1.5em 0;}
a:focus,a:hover{color:#222;text-decoration:none;}
a{color:#222;text-decoration:underline;}
blockquote{margin:0 0 1.5em 0;padding-left:1em;border-left:solid 1px #f1b82d;color:#dca10f;font-size:1.6em;line-height:1.4;}blockquote p{margin:0 0 1.5em 0!important;}
blockquote *:last-child{margin-bottom:0!important;}
strong,dfn{font-weight:bold;}
em,dfn{font-style:italic;}
sup,sub{height:0;line-height:1;vertical-align:baseline;_vertical-align:bottom;position:relative;font-size:.8em;margin-left:.2em;}
sup{bottom:.3em;}
sub{top:.2em;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em "andale mono","lucida console",monospace,monospace;line-height:1.5;}
li ul,li ol{margin:0;}
ul,ol{margin:0 0 1.5em 0;padding-left:1.5em;}
ul{list-style-type:disc;}ul.no-list{list-style:none;padding:0;}
ol{list-style-type:decimal;}
dl{margin:0 0 30px 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
hr{background:#f1b82d;color:#f1b82d;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}hr.space{background:transparent;color:transparent;visibility:hidden;}
.box h2,.aside h2,.box h3,.aside h3,.box h4,.aside h4,.box h5,.aside h5,.box h6,.aside h6{margin-bottom:.5em;}
@media screen and (max-width: 30em){h2{font-size:1.8em;}}small,.small{display:block;line-height:1.4;margin-bottom:1.2em;}
img,embed,object,video{width:auto;height:auto;max-width:100%;}
iframe{max-width:100%;}
.bottom{margin-bottom:0!important;}
.left{float:left!important;}
.right{float:right!important;}
.last{margin-right:0!important;}
.caps{font-size:90%;}
.dquo{margin-left:-0.3em;}
.quo{margin-left:-0.2em;}
iframe{vertical-align:baseline;}
.box{padding:1em;background-color:#fcf1d4;font-size:.9em;margin-bottom:1.5em;}.box *:last-child{margin-bottom:1px;}
.dropcap,.dropcap-hang{font-weight:700;float:left;display:block;line-height:.7;font-size:5.4em;margin:0.11em 0.08em 0 -0.04em;}
.dropcap-hang{margin-left:-0.3em;}
@media screen and (max-width: 45em){.dropcap,.dropcap-hang{line-height:.8;font-size:3.4em;margin:0.07em 0.08em 0 -0.04em;} .dropcap-hang{margin-left:-0.2em;}}.accent{color:#900000 !important;}
.center-text{text-align:center;}
table{background-color:transparent;margin-bottom:1.5em;width:100%;font-size:.9em;}table tr{background-color:#eee;}table tr td,table tr th{padding:.6em;vertical-align:top;line-height:1.2;text-align:left;}
table tr th{font-weight:700;}
table tr.even{background-color:transparent;}
table thead{font-weight:700;font-size:1.2em;border-bottom:1px solid #f1b82d;}table thead strong,table thead b{font-weight:400;}
table thead td,table thead th{background:#fcf1d4;padding:.5em;}
table tfoot{font-style:italic;border-top:1px solid #f1b82d;}
table .w10{width:10%;}
table .w12{width:12%;}
table .w15{width:15%;}
table .w20{width:20%;}
table .w25{width:25%;}
table .w30{width:30%;}
table .w33{width:33%;}
table .w35{width:35%;}
table .w40{width:40%;}
table .w45{width:45%;}
table .w50{width:50%;}
table .w55{width:55%;}
table .w60{width:60%;}
table .w65{width:65%;}
table .w66{width:66%;}
table .w70{width:70%;}
table .w75{width:75%;}
table .w80{width:80%;}
table .w85{width:85%;}
table .w90{width:90%;}
label{font-weight:bold;line-height:1.1;display:block;margin:0 0 .1em 0;}
fieldset{padding:1em;margin:-0.5em 0 1.5em 0;border:1px solid #f1b82d;}
legend{font-weight:700;font-size:1.3em;}
input.text,input.title,textarea,select{margin:.5em 0 1em;border:1px solid #bbb;}
input.text:focus,input.title:focus,textarea:focus,select:focus{border:1px solid #666;}
input.text,input.title{width:95%;padding:1%;}
input.title{font-size:1.5em;}
textarea{width:95%;height:250px;padding:1%;}
input.submit-button{font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}input.submit-button:hover,input.submit-button:focus{cursor:pointer;color:#000;background:#f7d88d;}
input.submit-button::-moz-focus-inner{border:0;}
.inline li{margin-bottom:1em;}
.inline input,.inline label{display:inline;margin-right:.5em;}
.email-icon,.pdf-icon,.doc-icon,.xls-icon,.ppt-icon,.rtf-icon{padding:2px 0 2px 20px;background-repeat:no-repeat;background-position:0 40%;}
.email-icon{background-image:url('../../images/template/icons/email.png');background-image:none,url('../../images/template/icons/email.svg');}
.pdf-icon{background-image:url('../../images/template/icons/pdf.png');background-image:none,url('../../images/template/icons/pdf.svg');}
.doc-icon{background-image:url('../../images/template/icons/doc.png');background-image:none,url('../../images/template/icons/doc.svg');}
.xls-icon{background-image:url('../../images/template/icons/xls.png');background-image:none,url('../../images/template/icons/xls.svg');}
.ppt-icon{background-image:url('../../images/template/icons/ppt.png');background-image:none,url('../../images/template/icons/ppt.svg');}
.rtf-icon{background-image:url('../../images/template/icons/rtf.png');background-image:none,url('../../images/template/icons/rtf.svg');}
.external-icon{padding-right:14px;background-image:url('../../images/template/icons/external.png');background-image:none,url('../../images/template/icons/external.svg');background-position:right center;background-repeat:no-repeat;}
::-moz-selection{color:#000;color:rgba(0, 0, 0, 0.85);background:rgba(241, 184, 45, 0.7);}
::selection{color:#000;color:rgba(0, 0, 0, 0.85);background:rgba(241, 184, 45, 0.7);}
.offset a{position:absolute;left:-1000em;padding:10px 15px;font-weight:bold;color:#222;font-size:1em;border:solid 1px #f1b82d;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);}
.offset a:focus,.offset a:active{position:fixed;top:2em;left:2em;z-index:1000;}
#tactical{padding:0 10px 0 10px;color:#ccc;font-weight:300;position:relative;z-index:1;}#tactical a{color:#ccc;text-decoration:none;padding:.3em .5em;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;display:block;font-size:.9em;}#tactical a:hover,#tactical a:focus{color:#f1b82d;background:#333;background:rgba(225, 225, 225, 0.15);}
#tactical section{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;zoom:1;padding:.4em 0 .5em;}@media screen and (max-width: 61.25em){#tactical section{max-width:43.75em;}}@media screen and (max-width: 30em){#tactical section{min-width:17.5em;}}#tactical section:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 45em){#tactical section{padding:.1em 0;}}
#tactical ul{display:block;list-style:none;margin:0;padding:0;float:right;}#tactical ul li{float:left;padding:0 .25em 0;margin:4px 0 1px 0;line-height:16px;}#tactical ul li:last-child{padding-right:0;}
#tactical ul li:first-child{padding-left:0;}
#tactical ul .search-container{width:340px;margin-top:0;}#tactical ul .search-container form{margin:0;}
@media screen and (max-width: 61.25em){#tactical ul .search-container{width:240px;}}
#tactical .left-tact{float:left;margin-left:-0.4em;}
@media screen and (max-width: 45em){#tactical .search-container{display:none;} #tactical ul{margin-right:-0.5em;}}.header-wrapper{background-color:#f2f2f2;padding:0 10px;position:relative;zoom:1;}.header-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#wrapper{z-index:2;-moz-box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);-webkit-box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);box-shadow:0px 0px 35px 8px rgba(0, 0, 0, 0.9);min-width:18.75em;}
.main-wrapper{background:#fff;padding:1.5em 0 .5em 0;position:relative;min-height:475px;zoom:1;}.main-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 45em){.main-wrapper{padding:0 0.625em .5em 0.625em;}}
#header{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;padding:.9em 0 .8em;}@media screen and (max-width: 61.25em){#header{max-width:43.75em;}}@media screen and (max-width: 30em){#header{min-width:17.5em;}}#header #brand{text-decoration:none;margin:0;display:block;float:left;font-size:1px;text-indent:-9999em;width:55px;height:63px;background:url('../../images/template/mulogo.png') no-repeat 0 0;}#header #brand:hover{background-position:0 -64px;}
#header #masthead{margin:0;}#header #masthead a{text-decoration:none;display:block;font-size:1px;text-indent:-9999em;}
#header #brand-tag{margin:0;}#header #brand-tag a{text-decoration:none;display:block;font-size:1px;text-indent:-9999em;width:175px;height:20px;background:url('../../images/template/university-missouri.png') no-repeat 0 0;}#header #brand-tag a:hover{background-position:0 -20px;}
#header #masthead,#header #brand-tag{margin-left:72px;}
@media screen and (max-width: 45em){#header{}#header #brand{width:44px;height:50px;background-size:44px 102px;}#header #brand:hover{background-position:0 -51px;} #header #masthead,#header #brand-tag{margin-left:56px;}}
.inlinesvg #header #brand{background-image:url('../../images/template/mulogo.svg');}
.inlinesvg #header #brand-tag a{background-image:url('../../images/template/university-missouri.svg');}
#footer{padding:1.5em 10px 2em 10px;color:#ccc;border-top:5px solid #f1b82d;font-weight:300;position:relative;z-index:1;}#footer a{color:#ccc;}#footer a:hover{color:#f1b82d;}
#footer footer{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#footer footer{max-width:43.75em;}}@media screen and (max-width: 30em){#footer footer{min-width:17.5em;}}
#footer .footer-top{margin-bottom:1em;zoom:1;}#footer .footer-top:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#footer .fine-print{border-top:solid 1px #666;padding:1em 0;margin-bottom:1em;zoom:1;}#footer .fine-print:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#footer .social,#footer .alert{width:23.4042553191%;float:right;}
#footer .footer-brand,#footer small{width:74.4680851064%;float:left;}
#footer .footer-brand{font-size:.9em;position:relative;clear:both;}#footer .footer-brand .logo{float:left;width:280px;height:43px;text-indent:-9999em;display:block;text-decoration:none;background:url('../../images/template/brand-footer.png') no-repeat 0 0;border-right:solid 1px #666;padding-right:20px;margin-right:20px;margin-top:4px;}#footer .footer-brand .logo:hover{background-position:0 -44px;}
#footer .footer-brand .address{margin-bottom:0;padding-top:5px;}#footer .footer-brand .address span{display:none;}
#footer .social{display:block;text-decoration:none;}#footer .social span{display:block;text-align:left;padding:8px 0 5px 68px;margin-left:-0.5em;margin-right:-0.5em;min-height:22px;background:url('../../images/template/face-twit.png') no-repeat 0.5em 50%;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#footer .social span:hover{color:#f1b82d;background-color:#333;background-color:rgba(225, 225, 225, 0.15);}
#footer .alert{margin-bottom:1em;}#footer .alert a{display:block;}
#footer .alert .alert-icon{display:block;text-align:center;padding:5px 0 5px 30px;margin-left:-0.5em;min-height:15px;background:url('../../images/template/exclaim.png') no-repeat left center;}
@media screen and (max-width: 61.25em){#footer .social{font-size:.9em;line-height:1;} #footer .alert .extra{display:none;}}@media screen and (max-width: 45em){#footer .alert{font-size:1.2em;width:auto;float:none;} #footer .alert .extra{display:inline;} #footer .footer-brand{width:auto;float:none;margin-bottom:1em;} #footer .social{font-size:1em;width:auto;float:none;}#footer .social span{padding-top:12px;} #footer small{display:block;width:100%;float:none;}}@media screen and (max-width: 30em){#footer .footer-brand{margin-bottom:1em;}#footer .footer-brand .logo{float:none;padding-right:0;border:none;margin-bottom:.5em;} #footer .footer-brand .address{display:block;clear:both;}#footer .footer-brand .address span{display:inline;} #footer .footer-brand .address br{display:none;}}
.inlinesvg #footer .footer-brand .logo{background-image:url('../../images/template/brand-footer.svg');}
.inlinesvg #footer .social span{background-image:url('../../images/template/face-twit.svg');}
.inlinesvg #footer .alert .alert-icon{background-image:url('../../images/template/exclaim.svg');}
.button{margin-bottom:2em;}.button a{text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.button a:hover,.button a:focus{background:#f7d88d;color:#000;}
.search{position:relative;background-color:#fff;height:22px;right:0;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #f1b82d;margin-top:4px;}
input.search-field{width:66%;height:22px;border:none;padding:0 2%;margin:0 !important;background:transparent;font-size:13px;position:absolute;left:0;font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;-moz-border-radius:1px 0 1px 0 0px 0px 0px;-webkitborder-radius:1px 0 1px 0 0px 0px 0px;border-radius:1px 0 1px 0 0px 0px 0px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
input.search-button{font-size:12px;width:29%;height:22px;padding:3px 0 0;margin:0;position:absolute;right:0;color:#222;border:none;font-family:"proxima-nova","Helvetica Neue",Arial,sans-serif;font-weight:normal;line-height:1;text-transform:uppercase;border-left:solid 1px #f1b82d;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:0 1px 1px 0;-webkitborder-radius:0 1px 1px 0;border-radius:0 1px 1px 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}input.search-button:hover,input.search-button:focus{cursor:pointer;color:#000;background:#f7d88d;}
input.search-button::-moz-focus-inner{border:0;}
.search-box{padding:1em 0;background-color:#fcf1d4;margin-bottom:2.5em;max-width:460px;}.search-box .search{margin:0 1em;border-color:#666;height:27px;}.search-box .search input.search-field{height:27px;}
.search-box .search input.search-button{height:27px;line-height:26px;font-size:14px;padding-top:1px;color:#ccc;border-color:#111;text-shadow:0 1px 1px #444444;letter-spacing:1px;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);overflow:hidden;}.search-box .search input.search-button:hover,.search-box .search input.search-button:focus{color:#fff;background:#444;}
.search-meta{border-bottom:solid 1px #f1b82d;margin-bottom:1.5em;}.search-meta h3{margin-bottom:0;}
.search-meta .meta-time{display:none;}
.suggested{padding:1em;background-color:#fcf1d4;font-size:.9em;margin-bottom:1.5em;margin-bottom:2.5em;}.suggested h2,.suggested h3,.suggested h4,.suggested h5,.suggested h6{margin-bottom:.5em;}
.suggested *:last-child{margin-bottom:1px;}
.search-results{list-style:none;padding:0;}.search-results li{margin-bottom:2.5em;}
.search-results .title{margin-bottom:.5em;}
.search-results .excerpt{margin-bottom:.5em;}
.search-results .source{color:#666;}
.search-results b{color:#900000;}
.search-results h3 b{background-color:#fcf1d4;}
.search-results .indent{margin-left:3em;}
.meta-suggest{margin-bottom:1.5em;}.meta-suggest .meta-spelling{margin-bottom:.5em;}
.meta-suggest .meta-synonym{margin-bottom:.5em;}
.search-string{color:#900000;}
.pagination-wrapper{clear:both;border-top:solid 1px #f1b82d;padding-top:1.5em;}
.pagination{list-style:none;padding:0;}.pagination li{display:inline;margin-bottom:2em;line-height:2.5em;}.pagination li a{text-align:center;padding:.5em 1em .4em;line-height:1.1;text-decoration:none;border:solid 1px #f1b82d;color:#222 !important;font-size:.9em;font-weight:400;text-shadow:0 1px 1px #fcf1d4;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.pagination li a:hover,.pagination li a:focus{background:#f7d88d;color:#000;}
.pagination li.current a{background:#111;color:#eee !important;text-shadow:0 0 0 transparent;border-color:#111;}
.subnav{display:block;list-style:none;padding:0 0 0 0;margin-right:0;line-height:1.2;border:solid 1px #f1b82d;background:#f6d075;}.subnav a{display:block;text-decoration:none;color:#222;padding:.5em 10px;text-shadow:0 1px 1px #fcf1d4;}.subnav a:hover,.subnav a:focus{background:#fcf1d4;}
.subnav li.selected>a{background:#fcf1d4;}
.subnav li ul{list-style:none;padding:0;font-size:.8em;font-weight:700;border-left:solid 0.5em #f1b82d;background-color:#f9e0a5;}.subnav li ul li a{padding-left:1em;text-shadow:0 0 0;}
.dates{margin-bottom:1.5em;}
.date-header h3{margin-bottom:0;line-height:1.1;font-size:1.1em;text-shadow:0px 1px 1px #fcf1d4;font-weight:400;}
.date-header a{display:block;text-decoration:none;padding:12px 10px;border:solid 1px #f1b82d;-moz-border-radius:2px 2px 0 0;-webkitborder-radius:2px 2px 0 0;border-radius:2px 2px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}.date-header a:hover,.date-header a:focus{background:#f7d88d;}
.date-content{padding:10px;background-color:#e4e4e4;}.date-content ul{list-style:none;padding:0;margin:0;margin-bottom:1em;font-size:.9em;}.date-content ul li{margin-bottom:1em;}
.date-content ul a{line-height:1.3;display:block;}
.news-tiles{margin:0 -11px 0 -10px;zoom:1;}.news-tiles:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.news-tiles .news-item{float:left;width:220px;margin:0 10px .5em;}.news-tiles .news-item .headlines{margin:10px 0 0 0;padding:0;list-style:none;}.news-tiles .news-item .headlines li{margin-bottom:1em;}
.news-tiles .news-item .headlines a{line-height:1.3;font-size:.9em;display:block;}
.news-tiles .news-item .news-link{text-decoration:none;display:block;}.news-tiles .news-item .news-link:hover .teaser,.news-tiles .news-item .news-link:focus .teaser{text-decoration:underline;}
.news-tiles .news-item .news-link img{vertical-align:bottom;margin-bottom:10px;width:100%;}
.news-tiles .news-item .news-link .headline{margin-bottom:3px;line-height:1.1;font-size:1em;}
.news-tiles .news-item .news-link .teaser{margin-bottom:8px;line-height:1.3;font-size:.9em;}
.news-tiles .news-item .source{font-size:.9em;color:#888;font-style:italic;font-weight:300;}
@media screen and (max-width: 61.25em){.news-tiles .news-item.clear{clear:none;} .news-tiles .news-item:nth-child(odd){clear:both;}}@media screen and (max-width: 45em){.news-tiles{margin:0 -1.5625%;}.news-tiles .news-item{width:46.875%;margin-left:1.5625%;margin-right:1.5625%;}}@media screen and (max-width: 30em){.news-tiles{margin:0;}.news-tiles .news-item{width:100%;margin-left:0;margin-right:0;margin-bottom:.5em;display:block;}}
.lt-ie8 .news-tiles .break{clear:both;}
.topic a,.topic span{display:block;color:#f1b82d;background-color:#111;line-height:1.2;font-size:.9em;font-weight:300;text-decoration:none;padding:4px 7px;}
.topic a:hover,.topic a:focus{color:#fff;}
.stage-wrapper{display:none;background-color:#333;background-color:rgba(0, 0, 0, 0.3);}.stage-wrapper .stage{max-width:1500px;min-height:460px;margin:0 auto;zoom:1;-moz-box-shadow:0px 0px 50px 8px rgba(0, 0, 0, 0.9);-webkit-box-shadow:0px 0px 50px 8px rgba(0, 0, 0, 0.9);box-shadow:0px 0px 50px 8px rgba(0, 0, 0, 0.9);background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}.stage-wrapper .stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 61.25em){.stage-wrapper .stage{min-height:430px;}}
.feature{position:relative;display:block;text-decoration:none;}.feature img{vertical-align:bottom;}
.feature p{line-height:1.2;}
.feature .caption{background:#111;background:rgba(0, 0, 0, 0.85);position:absolute;right:0;bottom:0;width:61.42857142857143%;padding:2.142857142857143%;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.9);}.feature .caption.top-right{top:0;bottom:auto;}
.feature .caption.top-left{top:0;bottom:auto;left:0;right:auto;}
.feature .caption.bottom-left{left:0;right:auto;}
.feature .headline{color:#eee;margin-bottom:.1em;line-height:.9;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;font-size:1.8em;}
.feature .teaser{margin-bottom:.25em;color:#ccc;}
.feature .source{margin-bottom:0;color:#f1b82d;font-style:italic;font-weight:300;font-size:.9em;white-space:nowrap;}
.feature:hover .headline,.feature:focus .headline{color:#f1b82d;}
.feature:hover .caption,.feature:focus .caption{background-color:#111;}
.story-feature{margin-bottom:1.5em;}.story-feature img{width:100%;}
@media screen and (max-width: 45em){.story-feature{margin-top:-1.5em;margin-left:-10px;margin-right:-10px;}}
.sm-feature .feature{margin-bottom:2em;}
@media screen and (max-width: 61.25em){.sm-feature .feature .caption{position:relative;display:block;background-color:#111;width:auto;} .sm-feature .feature img{width:100%;} .sm-feature .feature .headline{font-size:1.6em;}}@media screen and (max-width: 45em){.sm-feature{margin-top:-1.5em;margin-left:-10px;margin-right:-10px;}.sm-feature .feature .caption{padding:10px;}}
.lg-feature{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){.lg-feature{max-width:43.75em;}}@media screen and (max-width: 30em){.lg-feature{min-width:17.5em;}}.lg-feature .feature{width:100%;height:420px;margin-top:20px;float:right;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center center;}.lg-feature .feature .caption{width:45.744680851063826%;padding:1.5957446808510638%;}.lg-feature .feature .caption.top{top:0px;bottom:auto;}
@media screen and (max-width: 61.25em){.lg-feature .feature{width:100%;height:395px;margin-top:16px;}.lg-feature .feature .caption{width:61.42857142857143%;padding:2.142857142857143%;}}@media screen and (max-width: 45em){.lg-feature{display:none;}}
.backgroundsize .stage-wrapper{display:block;}
.backgroundsize .sm-feature,.backgroundsize .story-feature{display:none;}
@media screen and (max-width: 45em){.backgroundsize .stage-wrapper{display:none;} .backgroundsize .sm-feature,.backgroundsize .story-feature{display:block;}}.notice .stage-wrapper,.nobanner .stage-wrapper{display:none;}
.notice .sm-feature,.nobanner .sm-feature{display:block;color:#fff;}
.notice .sm-feature .feature{margin:0 0 2em 0;}
.notice .sm-feature a{color:#fff;}
.notice .sm-feature .caption{background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #ee5150), color-stop(20%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:-o-linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);background:linear-gradient(top, #ee5150 5%, #be0d0b 20%, #840605 100%);border:5px solid #BE0D0B;width:auto;padding:2em;position:relative;top:auto;display:block;bottom:auto;margin:0 0 1em 0;text-align:center;}
.notice .sm-feature .headline{font-size:3em;margin-bottom:.3em;color:#fff !important;}
.notice .sm-feature .button{margin:2.5em 0 .5em 0;}
@media screen and (max-width: 61.25em){.notice .sm-feature .caption{padding:1em;} .notice .sm-feature .headline{font-size:2.5em;}}@media screen and (max-width: 45em){.notice .sm-feature .caption{top:auto;} .notice .sm-feature .headline{font-size:2em;}}
.alignright img,.alignleft img,.aligncenter img,.alignnone img{vertical-align:bottom;margin-bottom:.5em;}
.alignright a:hover img,.alignleft a:hover img,.aligncenter a:hover img,.alignnone a:hover img{-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);}
.alignright{float:right;width:48.57142857142857%;margin-left:2.857142857142857%;margin-top:.35em;margin-bottom:1em;}
.alignleft{float:left;width:48.57142857142857%;margin-right:2.857142857142857%;margin-top:.35em;margin-bottom:1em;}
.alignnone,.aligncenter{width:100%;margin-bottom:1.5em;}
p.wp-caption-text,p.caption-text{font-size:.9em;color:#666;line-height:1.2;margin-bottom:0;}p.wp-caption-text a,p.caption-text a{color:#666!important;}
.petite{width:22.857142857142858%;}
.gallery br{display:none;}
.gallery{margin-bottom:.5em;zoom:1;}.gallery:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.gallery-item{float:left;width:100px;margin-bottom:1.25em;}.gallery-item a:hover img{-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);box-shadow:0px 1px 8px rgba(0, 0, 0, 0.5);}
.gallery-item img{vertical-align:bottom;}
.gallery-item .gallery-caption{display:none;}
.gallery-columns-1,.gallery-columns-2,.gallery-columns-3,.gallery-columns-4{margin-bottom:.5em;}
.gallery-columns-1,.gallery-columns-2{width:51.42857142857142%;margin-top:.35em;}.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item{margin-left:2.7777777777777777%;margin-right:2.7777777777777777%;}
.gallery-columns-1{float:right;margin-left:1.4285714285714286%;margin-right:-1.4285714285714286%;}
.gallery-columns-2{float:left;margin-right:1.4285714285714286%;margin-left:-1.4285714285714286%;}
.gallery-columns-3,.gallery-columns-4{width:102.85714285714285%;margin-left:-1.3888888888888888%;}.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item{margin-left:1.3888888888888888%;margin-right:1.3888888888888888%;}
@media screen and (max-width: 61.25em){.gallery-columns-1,.gallery-columns-2{width:52.17391304347826%;margin-top:.35em;}.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item{margin-left:4.166666666666666%;margin-right:4.166666666666666%;} .gallery-columns-1{margin-left:2.1739130434782608%;margin-right:-2.1739130434782608%;} .gallery-columns-2{margin-right:2.1739130434782608%;margin-left:-2.1739130434782608%;} .gallery-columns-3,.gallery-columns-4{width:104.34782608695652%;margin-left:-2.083333333333333%;}.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item{margin-left:2.083333333333333%;margin-right:2.083333333333333%;}}@media screen and (max-width: 45em){.gallery-columns-1,.gallery-columns-2,.gallery-columns-3,.gallery-columns-4{width:103.19148936170212%;margin-left:-1.5957446808510638%;margin-right:-1.5957446808510638%;}.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item{width:95px;margin-right:1.5957446808510638%;margin-left:1.5957446808510638%;}}@media screen and (max-width: 30em){.alignright,.alignleft{width:100%;float:none;margin-left:0;margin-right:0;}.alignright img,.alignleft img{width:100%;} .alignright.petite,.alignleft.petite,.aligncenter.petite,.alignnone.petite{width:33%;} .alignright.petite{float:right;margin-left:.6em;} .alignleft.petite{float:left;margin-right:.6em;}}.wide.story .headline,.wide.story h3.teaser,.wide.story p,.wide.story h1,.wide.story h2,.wide.story h3,.wide.story h4,.wide.story h5,.wide.story h6,.wide.story blockquote,.wide.story ul,.wide.story dl,.wide.story address,.wide.story pre,.wide.story big,.wide.story small,.wide.story .like-btns{margin-left:12.76595744680851%;margin-right:12.76595744680851%;}
.wide.story .alignnone p,.wide.story .alignright p,.wide.story .alignleft p,.wide.story .aligncenter p,.wide.story .alignnone h1,.wide.story .alignright h1,.wide.story .alignleft h1,.wide.story .aligncenter h1,.wide.story .alignnone h2,.wide.story .alignright h2,.wide.story .alignleft h2,.wide.story .aligncenter h2,.wide.story .alignnone h3,.wide.story .alignright h3,.wide.story .alignleft h3,.wide.story .aligncenter h3,.wide.story .alignnone h4,.wide.story .alignright h4,.wide.story .alignleft h4,.wide.story .aligncenter h4,.wide.story .alignnone h5,.wide.story .alignright h5,.wide.story .alignleft h5,.wide.story .aligncenter h5,.wide.story .alignnone h6,.wide.story .alignright h6,.wide.story .alignleft h6,.wide.story .aligncenter h6,.wide.story .alignnone blockquote,.wide.story .alignright blockquote,.wide.story .alignleft blockquote,.wide.story .aligncenter blockquote,.wide.story .alignnone ul,.wide.story .alignright ul,.wide.story .alignleft ul,.wide.story .aligncenter ul,.wide.story .alignnone dl,.wide.story .alignright dl,.wide.story .alignleft dl,.wide.story .aligncenter dl,.wide.story .alignnone address,.wide.story .alignright address,.wide.story .alignleft address,.wide.story .aligncenter address,.wide.story .alignnone pre,.wide.story .alignright pre,.wide.story .alignleft pre,.wide.story .aligncenter pre,.wide.story .alignnone big,.wide.story .alignright big,.wide.story .alignleft big,.wide.story .aligncenter big,.wide.story .alignnone small,.wide.story .alignright small,.wide.story .alignleft small,.wide.story .aligncenter small{margin-left:0;margin-right:0;}
.wide.story .alignnone .box,.wide.story .alignright .box,.wide.story .alignleft .box,.wide.story .aligncenter .box{margin-bottom:0;}
.wide.story .wp-caption-text,.wide.story .alignnone{margin-left:0;margin-right:0;}
.wide.story .alignright{margin-right:0;margin-left:2.127659574468085%;width:36.17021276595745%;}
.wide.story .alignleft{margin-right:2.127659574468085%;margin-left:0;width:36.17021276595745%;}
.wide.story .aligncenter{margin-left:12.76595744680851%;margin-right:12.76595744680851%;width:74.46808510638297%;}
.wide.story .alignright.petite{margin-right:12.76595744680851%;margin-left:2.127659574468085%;width:17.02127659574468%;}
.wide.story .alignleft.petite{margin-left:12.76595744680851%;margin-right:2.127659574468085%;width:17.02127659574468%;}
.wide.story .gallery-columns-1,.wide.story .gallery-columns-2{width:38.297872340425535%;}.wide.story .gallery-columns-1 .gallery-item,.wide.story .gallery-columns-2 .gallery-item{margin-left:2.7777777777777777%;margin-right:2.7777777777777777%;}
.wide.story .gallery-columns-1{margin-left:1.0638297872340425%;margin-right:-1.0638297872340425%;}
.wide.story .gallery-columns-2{margin-right:1.0638297872340425%;margin-left:-1.0638297872340425%;}
.wide.story .gallery-columns-3{width:76.59574468085107%;margin-left:11.702127659574469%;margin-right:11.702127659574469%;}.wide.story .gallery-columns-3 .gallery-item{margin-left:1.3888888888888888%;margin-right:1.3888888888888888%;}
.wide.story .gallery-columns-4{width:102.12765957446808%;margin-left:-1.0416666666666665%;}.wide.story .gallery-columns-4 .gallery-item{margin-left:1.0416666666666665%;margin-right:1.0416666666666665%;}
@media screen and (max-width: 61.25em){.wide.story .headline,.wide.story h3.teaser,.wide.story p,.wide.story h1,.wide.story h2,.wide.story h3,.wide.story h4,.wide.story h5,.wide.story h6,.wide.story blockquote,.wide.story ul,.wide.story dl,.wide.story address,.wide.story pre,.wide.story big,.wide.story small,.wide.story .like-btns{margin-left:0;margin-right:0;} .wide.story .alignright{width:48.57142857142857%;} .wide.story .alignleft{width:48.57142857142857%;} .wide.story .aligncenter{margin-left:0;margin-right:0;width:100%;} .wide.story .alignright.petite{margin-right:0;margin-left:2.857142857142857%;width:22.857142857142858%;} .wide.story .alignleft.petite{margin-left:0;margin-right:2.857142857142857%;width:22.857142857142858%;} .wide.story .gallery-columns-1,.wide.story .gallery-columns-2{width:51.42857142857142%;}.wide.story .gallery-columns-1 .gallery-item,.wide.story .gallery-columns-2 .gallery-item{margin-left:2.7777777777777777%;margin-right:2.7777777777777777%;} .wide.story .gallery-columns-1{margin-left:1.4285714285714286%;margin-right:-1.4285714285714286%;} .wide.story .gallery-columns-2{margin-right:1.4285714285714286%;margin-left:-1.4285714285714286%;} .wide.story .gallery-columns-3,.wide.story .gallery-columns-4{width:102.85714285714285%;margin-left:-1.3888888888888888%;}.wide.story .gallery-columns-3 .gallery-item,.wide.story .gallery-columns-4 .gallery-item{margin-left:1.3888888888888888%;margin-right:1.3888888888888888%;}}@media screen and (max-width: 45em){.wide.story{}.wide.story .gallery-columns-1,.wide.story .gallery-columns-2,.wide.story .gallery-columns-3,.wide.story .gallery-columns-4{width:103.19148936170212%;margin-left:-1.5957446808510638%;margin-right:-1.5957446808510638%;}.wide.story .gallery-columns-1 .gallery-item,.wide.story .gallery-columns-2 .gallery-item,.wide.story .gallery-columns-3 .gallery-item,.wide.story .gallery-columns-4 .gallery-item{width:95px;margin-right:1.5957446808510638%;margin-left:1.5957446808510638%;}}@media screen and (max-width: 30em){.wide.story .alignright,.wide.story .alignleft{width:100%;float:none;margin-left:0;margin-right:0;}.wide.story .alignright img,.wide.story .alignleft img{width:100%;} .wide.story .alignright.petite,.wide.story .alignleft.petite,.wide.story .aligncenter.petite,.wide.story .alignnone.petite{width:33%;} .wide.story .alignright.petite{float:right;margin-left:.6em;} .wide.story .alignleft.petite{float:left;margin-right:.6em;}}
.nav-wrapper{padding:0 10px;position:relative;z-index:1;border:solid 1px #f1b82d;border-left:none;border-right:none;border-bottom-color:#d39a0e;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}@media screen and (max-width: 45em){.nav-wrapper{display:none;}}
#nav{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#nav{max-width:43.75em;}}@media screen and (max-width: 30em){#nav{min-width:17.5em;}}#nav>ul{list-style:none;margin:0 160px 0 0;padding:0;display:block;zoom:1;}#nav>ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
@media screen and (max-width: 61.25em){#nav>ul{margin:0;}}#nav>ul>li{float:left;display:block;padding:.25em;}#nav>ul>li a{display:block;text-decoration:none;text-shadow:0px 1px 1px #fcf1d4;padding:.25em .7em;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul>li a:hover,#nav>ul>li a:focus{background:#fcf1d4;}
#nav>ul li.home{position:relative;padding:1px;background:#111;margin:-1px 0.25em -1px 0;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);}#nav>ul li.home a{padding:.5em 3em .5em 1em;background:transparent url('../../images/template/arrow-dn.png') no-repeat 82% 50%;color:#ddd;text-shadow:0px 1px 1px #000000;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul li.home a:hover,#nav>ul li.home a:focus{color:#f1b82d;}
#nav>ul li.home:hover>ul,#nav>ul li.home:focus>ul{background-color:#111;}
#nav>ul>li.home>ul{z-index:1000;list-style:none;padding:0 0 5px 0;top:100%;left:-9999em;position:absolute;width:220px;line-height:1.2;font-size:.95em;background-color:#111;}#nav>ul>li.home>ul a{background-image:none;padding:6px .5em 6px 1em;}#nav>ul>li.home>ul a:hover,#nav>ul>li.home>ul a:focus{background-color:#333;color:#f1b82d;}
@media screen and (max-width: 61.25em){#nav>ul>li.home>ul a{padding:5px .5em 5px 1em;}}
#nav>ul>li.home:hover>ul,#nav>ul>li.home.hover>ul{left:0;}
#nav>ul>li.home.hover>ul{display:block !important;}
#nav>ul li.apply{position:absolute;right:0;top:-1px;padding:0;background:#111;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;}#nav>ul li.apply a{padding:.5em 1.5em;color:#eee;text-shadow:0 0 0 transparent;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:transparent;position:relative;z-index:2;border:solid 1px #BE0D0B;border-bottom-color:#840605;background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #ee5150), color-stop(16%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-o-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);}#nav>ul li.apply a:hover,#nav>ul li.apply a:focus{color:#f1b82d;}
@media screen and (max-width: 61.25em){#nav>ul li.apply{top:-50px;-moz-border-radius:4px;-webkitborder-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}#nav>ul li.apply a{padding:.2em 1.5em;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}}#nav>ul li.apply .truman-head{display:block;width:100%;height:60px;background:transparent url('../../images/template/truman-face.png') no-repeat center top;background-size:80px 83px;position:absolute;top:-32px;z-index:1;-webkit-transition:top linear 0.2s;-moz-transition:top linear 0.2s;-o-transition:top linear 0.2s;transition:top linear 0.2s;}
#nav>ul li.apply .truman-hands{display:block;width:100%;height:22px;background:transparent url('../../images/template/truman-paws.png') no-repeat center center;background-size:140px 22px;position:absolute;top:-9px;left:0px;z-index:3;}
#nav>ul li.apply:hover .truman-head,#nav>ul li.apply:focus .truman-head{top:-52px;}@media screen and (max-width: 61.25em){#nav>ul li.apply:hover .truman-head,#nav>ul li.apply:focus .truman-head{top:-45px;}}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){#nav>ul li.apply .truman-head{background-image:url('../../images/template/truman-face-2x.png');} #nav>ul li.apply .truman-hands{background-image:url('../../images/template/truman-paws-2x.png');}}
.inlinesvg #nav>ul li.home>a{background-image:url('../../images/template/arrow-dn.svg');}
.js #nav>ul>li.home>ul{display:none;}
.homepage #nav>ul>li.home>ul{display:block;left:0;min-height:455px;}@media screen and (max-width: 61.25em){.homepage #nav>ul>li.home>ul{min-height:425px;}}
.backgroundsize .homepage #nav>ul>li.home>ul{background-color:rgba(0, 0, 0, 0.85);}.backgroundsize .homepage #nav>ul>li.home>ul:hover,.backgroundsize .homepage #nav>ul>li.home>ul:focus{background-color:#111;}
html .homepage.notice #nav>ul>li.home>ul,html .homepage.nobanner #nav>ul>li.home>ul{background-color:#111;}
#mobile-nav,#mobile-search,#mobile-main-menu,#mobile-audience{display:none;}
@media screen and (max-width: 45em){#mobile-nav{zoom:1;position:relative;display:block;width:120%;padding:0 5px 0 0px;left:-10px;margin-bottom:1em;-moz-border-radius:0 6px 6px 0;-webkitborder-radius:0 6px 6px 0;border-radius:0 6px 6px 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;border-left:none;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);}#mobile-nav:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} #mobile-nav #menu-button{float:right;width:47px;height:47px;}#mobile-nav #menu-button a{display:block;width:50px;height:46px;position:relative;text-indent:-9999em;background:url('../../images/template/bg-mobile-nav.png') no-repeat center center;background-size:30px 18px;}#mobile-nav #menu-button a.active-button{background-position:center center;} .js #mobile-nav{width:289px;} #mobile-search{background:#111;padding:7px 10px 7px 65px;margin:0 -10px 1.5em -10px;zoom:1;position:relative;display:block;border:solid 1px #f1b82d;border-bottom-color:#d39a0e;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}#mobile-search:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} #mobile-search .search{margin:0;border-color:#d39a0e;-moz-border-radius:5px;-webkitborder-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;overflow:hidden;} #mobile-search input.search-button{color:#ccc;border-color:#111;text-shadow:0 1px 0 #444444;background:#111111;background:-moz-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-ms-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #5e5e5e), color-stop(16%, #373737), color-stop(75%, #111111));background:-webkit-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:-o-linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);background:linear-gradient(top, #5e5e5e 3%, #373737 16%, #111111 75%);overflow:hidden;}#mobile-search input.search-button:hover,#mobile-search input.search-button:focus{color:#fff;background:#444;} #main-menu-button{background-color:#343434;background:#333333;background:-moz-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-ms-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #666666), color-stop(26%, #595959), color-stop(100%, #111111));background:-webkit-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:-o-linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);background:linear-gradient(top, #666666 3%, #595959 26%, #111111 100%);margin-top:6px;width:239px;-moz-border-radius:0 4px 0 0;-webkitborder-radius:0 4px 0 0;border-radius:0 4px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;border-left:none;}#main-menu-button a{display:block;color:#f1b82d;text-decoration:none;line-height:1.2;padding:8px 10px 5px 35px;background:url('../../images/template/arrow-dn.png') no-repeat 10px 55%;} #mobile-main-menu{display:none;position:relative;top:-1.5em;margin-left:-10px;margin-right:-10px;padding-bottom:8px;margin-bottom:0;background:#111;-moz-border-radius:0 0 2px 2px;-webkitborder-radius:0 0 2px 2px;border-radius:0 0 2px 2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:none;}#mobile-main-menu a{padding:.55em 11px .55em 11px;color:#ddd;text-shadow:0 0 0 transparent;}#mobile-main-menu a:hover,#mobile-main-menu a:focus{background:#333;background:rgba(225, 225, 225, 0.25);color:#f1b82d;} #mobile-main-menu.active-menu{display:block;} .no-js #mobile-main-menu{display:block;} #mobile-audience{display:block;}#mobile-audience>ul{background:#f6d075;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}#mobile-audience>ul a{text-shadow:0px 1px 1px #fcf1d4;}#mobile-audience>ul a:hover,#mobile-audience>ul a:focus{background:#fcf1d4;} #mobile-audience .apply{padding:0;position:relative;margin-bottom:1.5em;margin-top:2.6em;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;}#mobile-audience .apply a{display:block;padding:.5em 1.5em;text-align:center;text-decoration:none;color:#eee;text-shadow:0 0 0 transparent;-moz-border-radius:0;-webkitborder-radius:0;border-radius:0;position:relative;z-index:2;border:solid 1px #BE0D0B;border-bottom-color:#840605;-moz-border-radius:3px;-webkitborder-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#be0d0b;background:-moz-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-ms-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #ee5150), color-stop(16%, #be0d0b), color-stop(100%, #840605));background:-webkit-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:-o-linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);background:linear-gradient(top, #ee5150 3%, #be0d0b 16%, #840605 100%);}#mobile-audience .apply a:hover,#mobile-audience .apply a:focus{color:#f1b82d;} #mobile-audience .apply .truman-head{display:block;width:100%;height:60px;background:transparent url('../../images/template/truman-face.png') no-repeat center top;background-size:80px 83px;position:absolute;top:-32px;z-index:1;-webkit-transition:top linear 0.2s;-moz-transition:top linear 0.2s;-o-transition:top linear 0.2s;transition:top linear 0.2s;} #mobile-audience .apply .truman-hands{display:block;width:100%;height:22px;background:transparent url('../../images/template/truman-paws.png') no-repeat center center;background-size:140px 22px;position:absolute;top:-9px;left:0px;z-index:3;} #mobile-audience .apply:hover .truman-head,#mobile-audience .apply:focus .truman-head{top:-48px;} .inlinesvg #mobile-nav #menu-button a{background-image:url('../../images/template/bg-mobile-nav.svg');} .inlinesvg #main-menu-button a{background-image:url('../../images/template/arrow-dn.svg');}}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){#mobile-audience .apply .truman-head{background-image:url('../../images/template/truman-face-2x.png');} #mobile-audience .apply .truman-hands{background-image:url('../../images/template/truman-paws-2x.png');}}#masthead a{margin-bottom:5px;width:180px;height:45px;background:url('../../images/template/mizzou.png') no-repeat 0 0;}#masthead a:hover{background-position:0 -65px;}
@media screen and (max-width: 45em){#masthead a{width:153px;height:38px;background-size:153px 111px;}#masthead a:hover{background-position:0 -55px;}}
.inlinesvg #masthead a{background-image:url('../../images/template/mizzou.svg');}
#main{position:relative;max-width:58.75em;min-width:17.5em;margin-left:auto;margin-right:auto;}@media screen and (max-width: 61.25em){#main{max-width:43.75em;}}@media screen and (max-width: 30em){#main{min-width:17.5em;}}
#main-aside{float:left;width:23.404255319148938%;}
.aside{float:right;width:31.428571428571427%;}
#main-content{float:right;width:74.46808510638297%;}
.content{float:left;width:65.71428571428571%;}
.content,.aside{margin-bottom:1.5em;}
.wide #main-aside{width:0;}
.wide #main-content{width:100%;}
.wide .aside{width:23.404255319148938%;}
.wide .content{width:74.46808510638297%;}.wide .content .col-1{float:left;width:48.57142857142857%;}
.wide .content .col-2{float:right;width:48.57142857142857%;}
.col-1{float:left;width:48.57142857142857%;}
.col-2{float:right;width:48.57142857142857%;}
.homepage .aside,html .homepage.notice .aside,html .homepage.nobanner .aside{margin-top:460px;}
.backgroundsize .homepage .aside{margin-top:0;}
.gateway-nav{float:left;width:23.4042553191%;margin-bottom:.5em;}.gateway-nav .subnav{border-color:#111;background:#111;}
.gateway-nav .subnav li a{background:#111;color:#ddd;text-shadow:0 0 0 transparent;}.gateway-nav .subnav li a:hover,.gateway-nav .subnav li a:focus{background-color:#333;color:#f1b82d;}
.gateway-main{float:right;width:74.4680851064%;}.gateway-main .gateway-content{float:left;width:65.7142857143%;margin-bottom:1em;zoom:1;}.gateway-main .gateway-content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.gateway-main .gateway-content .col-1{float:left;width:47.8260869565%;}
.gateway-main .gateway-content .col-2{float:right;width:47.8260869565%;}
.gateway-main .gateway-aside{float:right;width:31.4285714286%;margin-bottom:1em;zoom:1;}.gateway-main .gateway-aside:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.a-z-nav{float:left;list-style:none;padding:0;width:8.571428571428571%;max-width:65px;}.a-z-nav a{display:block;text-decoration:none;text-align:center;margin-bottom:.5em;background:#111;color:#eee;padding:.3em 0;font-size:1.2em;-moz-border-radius:2px;-webkitborder-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:solid 1px #111;}
.a-z-nav a:hover,.a-z-nav a:focus,.a-z-nav li.current_page_item a{color:#111;border-color:#f1b82d;background:#f1b82d;background:-moz-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-ms-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-webkit-gradient(linear, left top, left bottom, color-stop(3%, #fbe8bc), color-stop(16%, #f6d075), color-stop(75%, #f1b82d));background:-webkit-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:-o-linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);background:linear-gradient(top, #fbe8bc 3%, #f6d075 16%, #f1b82d 75%);}
.a-z-list{float:right;margin:0 0 1.5em 0;padding:0;width:85.71428571428571%;list-style:none;}.a-z-list li{margin-bottom:1.2em;line-height:1.2;}
.directory-meta h3{margin-bottom:0;}
.directory-meta .meta-result{color:#900000;font-weight:700;}
.directory-results .results{list-style:none;padding:0;}.directory-results .results .item{margin-bottom:2.5em;}
.directory-results .results .name{margin-bottom:.5em;}
@media screen and (max-width: 61.25em){.homepage .aside,html .homepage.notice .aside,html .homepage.nobanner .aside{margin-top:430px;} #main-aside{width:31.4285714286%;} .wide #main-aside{width:0;} #main-content{width:65.7142857143%;} .aside{width:100%;} .content{width:100%;} .wide #main-content{width:100%;} .wide .aside{width:31.428571428571427%;} .wide .content{width:65.71428571428571%;}.wide .content .col-1{float:left;width:48.57142857142857%;} .wide .content .col-2{float:right;width:48.57142857142857%;} .col-1{float:left;width:47.82608695652174%;} .col-2{float:right;width:47.82608695652174%;} .gateway-nav{width:31.4285714286%;} .gateway-main{width:65.7142857143%;}.gateway-main .gateway-content{width:100%;} .gateway-main .gateway-aside{width:100%;} .a-z-nav{width:13.043478260869565%;} .a-z-list{width:78.26086956521739%;}}@media screen and (max-width: 45em){.homepage .aside,html .homepage.notice .aside{margin-top:0px;} #wrapper{overflow:hidden;} #main-aside,#main-content{display:block;position:relative;} .wide #main-aside,#main-aside{width:100%;} .wide #main-content,#main-content{width:100%;} .js .wide #main-aside,.js #main-aside{margin-left:-240px;margin-top:-4px;float:left;padding-bottom:1.5em;z-index:200;width:220px;} .js .wide #main-content,.js #main-content{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:right;z-index:100;position:relative;width:100%;} .active-nav #main-aside{margin-left:0 !important;} .active-nav #main-content{margin-right:-15em !important;} .small-screen #main-aside,.small-screen #main-content{-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;} .wide .aside{width:100%;} .wide .content{width:100%;} .gateway-nav{width:100%;} .gateway-main{width:100%;} .a-z-nav{width:13.333333333333334%;} .a-z-list{width:80%;}}@media screen and (max-width: 30em){.wide .content .col-1,.wide .content .col-2,.col-1,.col-2{float:none;width:100%;} .gateway-main .gateway-content{margin-right:0;margin-left:0;}.gateway-main .gateway-content .col-1,.gateway-main .gateway-content .col-2{float:none;width:100%;}}.gateway-content ul li{line-height:1.2;margin-bottom:.5em;}
.top-10 h2{width:55px;float:left;margin:0;clear:both;}
.top-10 p{margin-left:55px;}
@media screen and (max-width: 30em){.top-10 h2{width:45px;} .top-10 p{margin-left:45px;}}
.spirit img{width:100%;}
.back-to-top{display:block;overflow:hidden;padding:0;text-decoration:none;text-indent:-9999em;float:right;color:#ccc;width:32px;height:32px;background:url('../../images/template/arrow-to-top.png') no-repeat 0 0;background:none,url('../../images/template/arrow-to-top.svg') no-repeat 0 0;}
