/*! MIZZOU ALERT SCREEN STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage - http://missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
  
--------------------------------------------------------------*/

/* @group Import MU Framework so framwork is outside project */
	
	/* Vars */
	@import 'mizzou_vars.less';
	
	//@img-path: 		'images/template';
	
	/* Framework */
	@import 'normalize-2.0.1.less';
	@import 'mixers-2.0.less';
	
	/* MU Globals */
	@import 'mizzou_general.less'; 
	@import 'mizzou_header.less';
	@import 'mizzou_footer.less';  
	@import	'mizzou_objects.less'; 
	
	/* Mizzou site */
	@import 'navigation.less';
	@import 'structure.less';

/* @end */ 


#nav ul li.apply,
ul#mobile-audience li.apply,
#footer .social { display: none; }

.alert-box {
	color: #fff;
	#gradient > .vertical-3(
		#BE0D0B,
		#EE5150, 5%,
		#BE0D0B, 20%,
		#840605, 100% 
	);
	border: 5px solid #BE0D0B;
	padding: 2em 4em;
	margin:0 0 1.5em 0;
	text-align: center;

	a { color: #fff; }
	
	.headline {
		font-size: 3em;
		margin-bottom: .3em;
		color: #fff !important;
	}
	.button {
		margin: 2.5em 0 .5em 0;
	}
}

.content { float: left; }
.aside { float: right; }

.follow { 
	
	a {
		display: block;
		text-align: left;
		padding-left: 10px;
		
		span {
			display: block;
			background: url('@{img-path}/twitter.png') no-repeat 0 50%;
			min-height: 18px;
			padding: 5px 0 0px 35px;
		}
	}
}

.inlinesvg {
	.follow a span {
		background-image: url('@{img-path}/twitter.svg');
	}
}

@media @mq-3 {
	.alert-box { padding: 1em; }
	.alert-box .headline { font-size: 2.5em; }
}

@media @mq-2 {
	.alert-box .headline { font-size: 2em; }
}
