/*! HEADER STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
 	* Version: 		0.2
 
--------------------------------------------------------------*/

/* @group Tactical */

#tactical {
	padding: 0 10px 0 10px; 
	color: #ccc;
	font-weight: @light;
	position: relative;
	z-index: 1;
	
	a {
		color: #ccc;
		text-decoration: none;
		padding: .3em .5em;
		.border-radius(2px);
		display: block; 
		font-size: .9em;
		
		&:hover,
		&:focus { 
			color: @mu-gold;
			background: #333;
			background: rgba(225,225,225,.15);
		}
	}
	
	section {
		.center-block;
		.clearfix;
		padding: .4em 0 .5em;
		
		@media @mq-2 {
			padding: .1em 0;
		}
	}
	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;

		li {
			float: left;
			padding: 0 .25em 0;
			margin: 4px 0 1px 0;
			line-height: 16px;
			
			&:last-child {
				padding-right: 0;
			}
			&:first-child {
				padding-left: 0;
			}
		}
		.search-container {
			width: 340px;
			margin-top: 0;
			
			form { margin: 0; }
			
			@media @mq-3 {
				width: 240px;
			}
		}
	}
	.left-tact {
		float: left;
		margin-left: -.4em;
	}
}

@media @mq-2 {
	#tactical .search-container { display: none; }
	#tactical ul { margin-right: -.5em; }
} 

/* @end */ 


/* @group Wrappers */

.header-wrapper {
	background-color: @bg-light;
	padding: 0 10px;
	position: relative;
	.clearfix;
}

#wrapper {
	z-index: 2;
	.box-shadow(0px 0px 35px 8px rgba(0,0,0,.9));
	min-width: 18.75em; // 300px
}

.main-wrapper {
	background: #fff;
	padding: 1.5em 0 .5em 0; 
	position: relative;
	min-height: 475px;
	.clearfix;

	@media @mq-2 {
		padding: 0 0.625em .5em 0.625em; // 10px = 0.625em
	}
}

/* @end */


/* @group Header */

#header {
	.center-block;
	padding: .9em 0 .8em;
	
	/* Brand bg image size variables */
	@width:				55;
	@height:			127;
	@display-height: 	63;
	
	#brand { 
		text-decoration: none;
		margin: 0;
		display: block;
		float: left;
		font-size: 1px;
		text-indent: -9999em;
		width: round(0px+@width);
		height: round(0px+@display-height);
		background: url('@{img-path}/mulogo.png') no-repeat 0 0;
	
		&:hover {
			background-position: 0 round(0px-( @height / 2 ));
		}
	}
	#masthead {
		margin: 0;
		
		a {
			text-decoration: none;
			display: block;
			font-size: 1px;
			text-indent: -9999em;
	
			/* Masthead dimentions and image are on site-specific stylesheet */
		}
	}
	#brand-tag {
		margin: 0;
		
		a {
			text-decoration: none;
			display: block;
			font-size: 1px;
			text-indent: -9999em;
			width:  175px;
			height: 20px;
			background: url('@{img-path}/university-missouri.png') no-repeat 0 0;
		
			&:hover {
				background-position: 0 -20px;
			}
		}
	
	}
	#masthead,
	#brand-tag {
		margin-left: 72px;
	}
	
	@media @mq-2 {
		/* Amount to reduce, adjust slightly to stop jumping on hover */
		@percent: .80;
		
		#brand { 
			width: round(0px+( @width * @percent ));
			height: round(0px+(@display-height * @percent));
			background-size: round(0px+( @width * @percent )) round(0px+( @height * @percent ));
			 
			&:hover {
				background-position: 0 round(0px-( @height * @percent / 2 ));
			}
		}
		
		#masthead,
		#brand-tag {
			margin-left: round(12px+( @width * @percent ));
		}
	}
}
.inlinesvg {
	#header #brand { 
		background-image: url('@{img-path}/mulogo.svg');
	}	
	#header #brand-tag a {
		background-image: url('@{img-path}/university-missouri.svg');
	}
}

/* @end */










