/*! FOOTER STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version: 		0.1
  
--------------------------------------------------------------*/


/* @group Footer */

#footer {
	padding: 1.5em 10px 2em 10px;
	color: #ccc;
	border-top: 5px solid @mu-gold;
	font-weight: @light;
	position: relative;
	z-index: 1;
		
	a {
		color: #ccc;
		&:hover {
			color: @mu-gold;
		}
	}
	
	footer {
		.center-block;
	}	
	.footer-top {
		margin-bottom: 1em;
		.clearfix;
	}	
	.fine-print {
		border-top: solid 1px #666;
		padding: 1em 0;
		margin-bottom: 1em;
		.clearfix;
	}
	
	.social,
	.alert {
		width: 23.4042553191%;
		float: right;
	}
	.footer-brand,
	small {
		width: 74.4680851064%;
		float: left;
	}
		
	.footer-brand {
		font-size: .9em;
		position: relative;
		.clear;
		
		.logo {
			float: left;
			width: 280px;
			height: 43px;
			text-indent: -9999em;
			display: block;
			text-decoration: none;
			background: url('@{img-path}/brand-footer.png') no-repeat 0 0;
			border-right: solid 1px #666;
			padding-right: 20px;
			margin-right: 20px;
			margin-top: 4px;
			
			&:hover {
				background-position: 0 -44px;
			}
		}
		
		.address { 
			margin-bottom: 0; 
			padding-top: 5px;
			
			span { display: none; }
		}
	}
	.social {
		display: block;
		text-decoration: none;
		
		span { 
			display: block;
			text-align: left;
			padding: 8px 0 5px 68px;
			margin-left: -.5em;
			margin-right: -.5em;
			min-height: 22px;
			background: url('@{img-path}/face-twit.png') no-repeat .5em 50%;
			.border-radius(2px);
			
			&:hover { 
				color: @mu-gold;
				background-color: #333;
				background-color: rgba(225,225,225,.15);
			}
		}
	}
	.alert {	
		margin-bottom: 1em;
		a { display: block; }
		.alert-icon { 
			display: block;
			text-align: center;
			padding: 5px 0 5px 30px;
			margin-left: -.5em;
			min-height: 15px;
			background: url('@{img-path}/exclaim.png') no-repeat left center;
		}
	}
	
	@media @mq-3 { 
		.social { 
			font-size: .9em; 
			line-height: 1;
		}
		.alert .extra { display: none; }
	}
	
	@media @mq-2 { 
	
		.alert {  
			font-size: 1.2em;
			width: auto;
			float: none;
		
			.alert-icon {
				
			}	
			.extra { display: inline; }
		}
		.footer-brand {  
			width: auto;
			float: none;
			margin-bottom: 1em;
		}
		.social {  
			font-size: 1em;
			width: auto;
			float: none;
			
			span { 
				padding-top: 12px;
			}
		}
		small {  
			display: block;
			width: 100%;
			float: none;
		}
		
	}
	@media @mq-mobile {
	
		
		.footer-brand {
			margin-bottom: 1em;
		
			.logo {
				float: none;
				padding-right: 0;
				border: none;
				margin-bottom: .5em;
			}
			.address {
				display: block;
				.clear;
				
				span { display: inline; }
				br { display: none; }
			}
		}
		.social {
			
		}
		
	}
	
}

.inlinesvg #footer {
	.footer-brand .logo {
		background-image: url('@{img-path}/brand-footer.svg');
	}
	.social span { 
		background-image: url('@{img-path}/face-twit.svg');
	}
	.alert .alert-icon { 
		background-image: url('@{img-path}/exclaim.svg');
	}

}
/* @end */