/*! MIZZOU GLOBALS WP CONTENT STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou News - http://news.missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version: 		0.3
  
--------------------------------------------------------------*/

/* @group Main content styles */
/* ----------------------------------------------------------------

	.gallery-columns-1 : Inset right  
	.gallery-columns-2 : Inset left 
	.gallery-columns-3 : Align with content well
	.gallery-columns-4 : Align with content well wide
	
	* Assumes content area is 700px wide.
	* .wide layout assumes the width is 940px with content 
	  area inside centered at 700px wide

---------------------------------------------------------------- */

/* @group 2-col layout */

.alignright,
.alignleft,
.aligncenter,
.alignnone {
	
	img { 
		vertical-align: bottom; 
		margin-bottom: .5em;
	}
	a:hover img {
		//border: solid 1px @mu-gold;
		//margin: -1px;
		//margin-bottom: .4375em; // 1px less .5em
		.box-shadow();
	}
}
.alignright {
	float: right;
	width: ((340/700)*100%);
	margin-left: ((20/700)*100%);
	margin-top: .35em;
	margin-bottom: 1em;
}
.alignleft {
	float: left;
	width: ((340/700)*100%);
	margin-right: ((20/700)*100%);
	margin-top: .35em;
	margin-bottom: 1em;
}
.alignnone,
.aligncenter {
	width: 100%;
	margin-bottom: 1.5em;
}
p.wp-caption-text,
p.caption-text {
	font-size: .9em;
	color: #666;
	line-height: 1.2;
	margin-bottom: 0;
	
	a { color: #666!important; }
}
.petite {
	width: ((160/700)*100%);
}

.gallery br { display: none; }

.gallery {
	margin-bottom: .5em;
	.clearfix;
	// background: @gold-light; // FOR TESTING
}
.gallery-item { 
	float: left;
	width: 100px;
    margin-bottom: 1.25em;
    
	a:hover img {
		//border: solid 1px @mu-gold;
		//margin: -1px;
		.box-shadow();
	}
	
	img { vertical-align: bottom; }
	
	.gallery-caption {  
		display: none;
	}
}

.gallery-columns-1,
.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4 {
	margin-bottom: .5em;
}

.gallery-columns-1,
.gallery-columns-2 { 
	width: ((360/700)*100%); 
	margin-top: .35em;
	
	.gallery-item {
		margin-left: ((10/360)*100%);
		margin-right: ((10/360)*100%);
	}
}

.gallery-columns-1 {
	float: right;
	margin-left: ((10/700)*100%);
	margin-right: -((10/700)*100%);
}
.gallery-columns-2 {
	float: left;
	margin-right: ((10/700)*100%);
	margin-left: -((10/700)*100%);
}
.gallery-columns-3,
.gallery-columns-4 {
	width: ((720/700)*100%); 
	margin-left: -((10/720)*100%);
	
	.gallery-item {
		margin-left: ((10/720)*100%);
		margin-right: ((10/720)*100%);
	}
}

@media @mq-3 {

	.gallery-columns-1,
	.gallery-columns-2 { 
		width: ((240/460)*100%); 
		margin-top: .35em;
		
		.gallery-item {
			margin-left: ((10/240)*100%);
			margin-right: ((10/240)*100%);
		}
	}
	
	.gallery-columns-1 {
		margin-left: ((10/460)*100%);
		margin-right: -((10/460)*100%);
	}
	.gallery-columns-2 {
		margin-right: ((10/460)*100%);
		margin-left: -((10/460)*100%);
	}
	.gallery-columns-3,
	.gallery-columns-4 {
		width: ((480/460)*100%); 
		margin-left: -((10/480)*100%);
		
		.gallery-item {
			margin-left: ((10/480)*100%);
			margin-right: ((10/480)*100%);
		}
	}
	
}
@media @mq-2 {
	
	/*  Complicated % math. 
		I want the gallery to expand to half the padding of its container
		Gallery is 94% smaller
		Desired width is 97% of container
	*/
	
	.gallery-columns-1,
	.gallery-columns-2,
	.gallery-columns-3,
	.gallery-columns-4 {
		width: ((97/94)*100%);  
		margin-left: -((1.5/94)*100%);
		margin-right: -((1.5/94)*100%); 
		
		.gallery-item { 
			width: 95px;
			margin-right: ((1.5/94)*100%);
			margin-left: ((1.5/94)*100%);
		}
	}
}

@media @mq-mobile {

	.alignright,
	.alignleft, { 
		width: 100%;
		float: none;
		margin-left: 0; 
		margin-right: 0;
		
		img { width: 100%; }
	}
	
	.alignright,
	.alignleft,
	.aligncenter,
	.alignnone {
		&.petite {
			width: 33%;
		}
	}
	.alignright {
		&.petite {
			float: right;
			margin-left: .6em;
		}
	}
	.alignleft {
		&.petite {
			float: left;
			margin-right: .6em;
		}
	}
}


/* @end */



/* @group Wide layout */

.wide.story {
	
	.headline,
	h3.teaser,
	p,
	h1,h2,h3,h4,h5,h6,
	blockquote,
	ul,dl,
	address,pre,
	big,small,
	.like-btns { 
		margin-left: ((120/940)*100%);
		margin-right: ((120/940)*100%);
	} 
	
	.alignnone,
	.alignright,
	.alignleft,
	.aligncenter {
		
		p,
		h1,h2,h3,h4,h5,h6,
		blockquote,
		ul,dl,
		address,pre,
		big,small {
			margin-left: 0;
			margin-right: 0;
		}
		
		.box {
			margin-bottom: 0;
		}
	}
	
	.wp-caption-text,
	.alignnone {
		margin-left: 0;
		margin-right: 0;
	}
	.alignright { 
		margin-right: 0;
		margin-left: ((20/940)*100%); 
		width: ((340/940)*100%);
	}
	.alignleft { 
		margin-right: ((20/940)*100%); 
		margin-left: 0;
		width: ((340/940)*100%);
	}
	.aligncenter { 
		margin-left: ((120/940)*100%);
		margin-right: ((120/940)*100%);
		width: ((700/940)*100%); 
	}
	.alignright.petite {
		margin-right: ((120/940)*100%);
		margin-left: ((20/940)*100%);
		width: ((160/940)*100%);
	}
	.alignleft.petite {
		margin-left: ((120/940)*100%);
		margin-right: ((20/940)*100%);
		width: ((160/940)*100%);
	}
	.gallery-columns-1,
	.gallery-columns-2 { 
		width: ((360/940)*100%);
		
		.gallery-item {
			margin-left: ((10/360)*100%);
			margin-right: ((10/360)*100%);
		}
	}
	
	.gallery-columns-1 {
		margin-left: ((10/940)*100%);
		margin-right: -((10/940)*100%);
	}
	.gallery-columns-2 {
		margin-right: ((10/940)*100%);
		margin-left: -((10/940)*100%);
	}
	.gallery-columns-3 { 
		width: ((720/940)*100%); 
		margin-left: ((110/940)*100%); 
		margin-right: ((110/940)*100%); 
		
		.gallery-item {
			margin-left: ((10/720)*100%);
			margin-right: ((10/720)*100%);
		}
	}
	.gallery-columns-4 {
		width: ((960/940)*100%); 
		margin-left: -((10/960)*100%);
		
		.gallery-item {
			margin-left: ((10/960)*100%);
			margin-right: ((10/960)*100%);
		}
	}

	
	@media @mq-3 {
		
		.headline,
		h3.teaser,
		p,
		h1,h2,h3,h4,h5,h6,
		blockquote,
		ul,dl,
		address,pre,
		big,small,
		.like-btns { 
			margin-left: 0;
			margin-right: 0;
		}
		
		.alignright { 
			width: ((340/700)*100%);
		}
		.alignleft { 
			width: ((340/700)*100%);
		}
		.aligncenter { 
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
		.alignright.petite {
			margin-right: 0;
			margin-left: ((20/700)*100%);
			width: ((160/700)*100%);
		}
		.alignleft.petite {
			margin-left: 0;
			margin-right: ((20/700)*100%);
			width: ((160/700)*100%);
		}
		.gallery-columns-1,
		.gallery-columns-2 { 
			width: ((360/700)*100%);
			
			.gallery-item {
				margin-left: ((10/360)*100%);
				margin-right: ((10/360)*100%);
			}
		}
		.gallery-columns-1 {
			margin-left: ((10/700)*100%);
			margin-right: -((10/700)*100%);
		}
		.gallery-columns-2 {
			margin-right: ((10/700)*100%);
			margin-left: -((10/700)*100%);
		}
		.gallery-columns-3,
		.gallery-columns-4 {
			width: ((720/700)*100%); 
			margin-left: -((10/720)*100%);
			
			.gallery-item {
				margin-left: ((10/720)*100%);
				margin-right: ((10/720)*100%);
			}
		}

	}
	
	@media @mq-2 {
	
		/*  Complicated % math. 
			I want the gallery to expand to half the padding of its container
			Gallery is 94% smaller
			Desired width is 97% of container
		*/
		
		.gallery-columns-1,
		.gallery-columns-2,
		.gallery-columns-3,
		.gallery-columns-4 {
			width: ((97/94)*100%);  
			margin-left: -((1.5/94)*100%);
			margin-right: -((1.5/94)*100%); 
			
			.gallery-item { 
				width: 95px;
				margin-right: ((1.5/94)*100%);
				margin-left: ((1.5/94)*100%);
			}
		}
	}
	
	@media @mq-mobile { 
		
		.alignright,
		.alignleft { 
			width: 100%;
			float: none;
			margin-left: 0; 
			margin-right: 0;
			
			img { width: 100%; }
		}
		
		.alignright,
		.alignleft,
		.aligncenter,
		.alignnone {
			&.petite {
				width: 33%;
			}
		}
		.alignright {
			&.petite {
				float: right;
				margin-left: .6em;
			}
		}
		.alignleft {
			&.petite {
				float: left;
				margin-right: .6em;
			}
		}
	}
}

/* @end */