/*! VARIABLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version: 		0.3
  
--------------------------------------------------------------*/

/* @group Site Variables */
	
	/* Mixer Overrides */
	@box-shadow: 	0px 1px 8px rgba(0,0,0,.5);	
	@border-radius:	2px;
	
	/* Colors */
	@gold-dark: 	darken(@mu-gold, 12%);
	@gold-medium: 	lighten(@mu-gold, 15%);
	@gold-light: 	lighten(@mu-gold, 35%);
	@dark: 			#111;
	@accent:		#900000;
	@bg-light:		#F2F2F2;
	
	/* Fonts */ 
	@sans: 			"proxima-nova", "Helvetica Neue", Arial, sans-serif;
	@mono:		 	"andale mono", "lucida console", monospace; 
	
	/* Font Weights */
	@light:			300; 
	@normal:		400;
	@bold:			700;
	
	/* Paths */
	@img-path: 		'../../images/template';
	@font-path: 	'../fonts';
	
	/* Measurements */
	@max-width: 	58.75em; // 940px
	@min-width:		17.5em; // 780px, allows 10px margins on .center-block elements
	
	/* Media Break Points */
	@mq-3:	 		~"screen and (max-width: 61.25em)"; // 980px
	@mq-2: 			~"screen and (max-width: 45em)"; // 720px
	@mq-mobile: 	~"screen and (max-width: 30em)"; // 480px
	
	@mq-2x:			~"only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5)"; /* Retina screens */
	 
	/* Set center-block widths at breakpoints */
	.center-block {
		@media @mq-3 		{ max-width: 43.75em; } // 700px
		@media @mq-mobile 	{ min-width: @min-width; } 
	}
	
	/* Set a min-width for IE8 or lower */
	.lt-ie9 body { 
		min-width: 960px; 
	}
	
	/* Show/hide classes for mobile view */
	.mobile-view { display: none; }

	@media @mq-2 {
		.mobile-view { display: block; }
		.desktop-view { display: none; }
	}
	

/* @end */