/*! NEWS ITEMS STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
 	* Version: 		0.4
 
--------------------------------------------------------------*/


/* @group Wrappers */

.news-tiles {
	margin: 0 -11px 0 -10px;
	.clearfix;	
	
	.news-item {
		float: left;
		width: 220px;
		margin: 0 10px .5em;
		
		.headlines {
			margin: 10px 0 0 0;
			padding: 0;
			list-style: none;
			
			li {
				margin-bottom: 1em;
			}
			a {
				line-height: 1.3;
				font-size: .9em;
				display: block;
			}
		}
		
		.news-link {
			text-decoration: none;
			display: block;
			
			&:hover,
			&:focus {
				.teaser {
					text-decoration: underline;
				}
			}
			
			img { 
				vertical-align: bottom;
				margin-bottom: 10px;
				width: 100%;
			}
			
			.headline {
				margin-bottom: 3px;
				line-height: 1.1;
				font-size: 1em;
			}
			
			.teaser {
				margin-bottom: 8px;
				line-height: 1.3;
				//text-decoration: underline;
				font-size: .9em;
			}
		}
		
		.source {
			font-size: .9em;
			color: #888;
			font-style: italic;
			font-weight: @light;
		}
	}
	
	@media @mq-3 { // makes news items 2 columns on a 700px layout
				
		.news-item.clear {
			clear: none;
		}
		.news-item:nth-child(odd) {
			clear: both;
		}
	}
	
	@media @mq-2 {
		margin: 0 -1.5625%;
		
		.news-item {
			width: 46.875%;
			margin-left: 1.5625%;
			margin-right: 1.5625%;
		}
	}
	
	@media @mq-mobile {
		margin: 0;
		
		.news-item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: .5em;
			display: block;
		}
	}
}

.lt-ie8 { // IE7 clearing element to help align news objects. Added w/ js
	
	.news-tiles .break {
		clear: both;
	}
	
}

.topic {
	
	a,
	span {	
		display: block;
		color: @mu-gold;
		background-color: #111;
		line-height: 1.2;
		font-size: .9em;
		font-weight: @light;
		text-decoration: none;
		padding: 4px 7px;
	}
	a {	
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

/* @end */