/*! MIZZOU FONT STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage - http://missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* version:		0.1
	
	# Notes
	
	* Proxima Nova from http://www.fontspring.com/fonts/mark-simonson-studio/proxima-nova
	* Imports Light (300), Regular (400) and Extra Bold (700) by default here.
	* All weights should be in font folder ready to be imported as needed on indiviual pages.
  
--------------------------------------------------------------*/

/*! LEGAL - Must be included here to use fonts */

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 *
 */


/* LIGHT 300 */

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-Light-webfont.eot');
    src: url('@{font-path}/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-Light-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-Light-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-LightIt-webfont.eot');
    src: url('@{font-path}/ProximaNova-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-LightIt-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-LightIt-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-LightIt-webfont.svg') format('svg');
    font-weight: 300;
    font-style: italic;

}

/* NORMAL 400 */

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-Reg-webfont.eot');
    src: url('@{font-path}/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-Reg-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-Reg-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-RegIt-webfont.eot');
    src: url('@{font-path}/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-RegIt-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-RegIt-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-RegIt-webfont.svg') format('svg');
    font-weight: 400;
    font-style: italic;

}

/* BOLD 700 */

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-Bold-webfont.eot');
    src: url('@{font-path}/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-Bold-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('@{font-path}/ProximaNova-BoldIt-webfont.eot');
    src: url('@{font-path}/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/ProximaNova-BoldIt-webfont.woff') format('woff'),
         url('@{font-path}/ProximaNova-BoldIt-webfont.ttf') format('truetype'),
         url('@{font-path}/ProximaNova-BoldIt-webfont.svg') format('svg');
    font-weight: 700;
    font-style: italic;

}