/*! OBJECTS STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version: 		0.4
  
--------------------------------------------------------------*/

/* @group Button styles */
.button { 
	margin-bottom: 2em; 

	a {
		text-align: center;
		padding: .5em 1em .4em;
		line-height: 1.1;
		text-decoration: none;
		border: solid 1px @mu-gold;
		color: #222 !important;
		font-size: .9em;
		font-weight: @normal;
		.text-shadow(0 1px 1px @gold-light);
		.border-radius(2px);
		#gradient > .vertical-3(
			@mu-gold,
			lighten(@mu-gold, 30%), 3%,
			lighten(@mu-gold, 15%), 16%,
			@mu-gold, 75% 
		);
		
		&:hover, 
		&:focus {
			background: lighten(@mu-gold, 20%);
			color: #000;
		}
	}
}

/* @end */

/* @group Search fields */
.search { 
	position: relative;
	background-color: #fff;
	height: 22px;
	right: 0;
	.border-radius(2px);
	border: solid 1px @mu-gold;
	margin-top: 4px; 
}
input.search-field { 
	width: 66%; 
	height: 22px;
	border: none; 
	padding: 0 2%; 
	margin: 0 !important;
	background: transparent; 
	font-size: 13px; 
	position: absolute;
	left: 0;
	font-family: @sans;
	.border-radii(1px 0 1px 0);
}
input.search-button { 
	font-size: 12px; 
	width: 29%;
	height: 22px;
	padding: 3px 0 0; 
	margin: 0;
	position: absolute;
	right: 0;  
	color: #222;
	border: none;
	font-family: @sans;
	font-weight: normal; 
	line-height: 1;
	text-transform: uppercase; 
	border-left: solid 1px @mu-gold;
	.text-shadow(0 1px 1px @gold-light);
	.border-radii(0, 1px, 1px, 0);
	#gradient > .vertical-3(
		@mu-gold,
		lighten(@mu-gold, 30%), 3%,
		lighten(@mu-gold, 15%), 16%,
		@mu-gold, 75% 
	);
	
	&:hover, 
	&:focus { 
		cursor:pointer; 
		color: #000;
		background: lighten(@mu-gold, 20%);
	}
	
	&::-moz-focus-inner {border:0;}
}


.search-box {
	padding: 1em 0;
	background-color: @gold-light;
	margin-bottom: 2.5em;
	max-width: 460px;
	.search {
		margin: 0 1em;
		border-color: #666;
		height: 27px;
		
		input.search-field { 
			height: 27px;
		}
		input.search-button {  
			height: 27px;
			line-height: 26px;
			font-size: 14px; 
			padding-top: 1px;
			color: #ccc;
			border-color: #111;
			.text-shadow(0 1px 1px #444);
			letter-spacing: 1px;
			#gradient > .vertical-3(
				#111,
				lighten(#111, 30%), 3%,
				lighten(#111, 15%), 16%,
				#111, 75% 
			);
			overflow: hidden;
			
			&:hover, 
			&:focus { 
				color: #fff;
				background: #444;
			}
		}
		
	}
}
.search-meta {
	border-bottom: solid 1px @mu-gold;
	margin-bottom: 1.5em;
	h3 { margin-bottom: 0; }
	.meta-time { display: none; }
}
.suggested {
	.box;
	margin-bottom: 2.5em;
}
.search-results {
	list-style: none;
	padding: 0;
	li {
		margin-bottom: 2.5em;
	}
	.title {
		margin-bottom: .5em;
	}
	.excerpt {
		margin-bottom: .5em;
	}
	.source {
		color: #666;
	}
	b {
		color: @accent;
		//background-color: @gold-light;
	}
	h3 b {
		//font-weight: normal;
		background-color: @gold-light;
	}
	.indent {
		margin-left: 3em;
	}
}
.meta-suggest {
	margin-bottom: 1.5em;
	
	.meta-spelling {
		margin-bottom: .5em;
	}
	.meta-synonym {
		margin-bottom: .5em;
	}
}
.search-string {
	color: @accent;
}
.pagination-wrapper {
	.clear;
	border-top: solid 1px @mu-gold;
	padding-top: 1.5em;
}

.pagination {
	list-style: none;
	padding: 0;
	
	li {
		display: inline;
		.button;
		line-height: 2.5em;
		
		&.current a { 
			background: #111;
			color: #eee !important;
			.text-shadow(0 0 0 transparent);
			border-color: #111;
		}
	}
}

/* @end */

/* @group Subnav */

.subnav {
	display: block;
	list-style: none;
	padding: 0 0 0 0;
	margin-right: 0;
	line-height: 1.2;
	border: solid 1px @mu-gold;
	background: @gold-medium;
	a {
		display: block;
		text-decoration: none;
		color: #222;
		padding: .5em 10px;
		.text-shadow(0 1px 1px @gold-light);
		
		&:hover,
		&:focus {
			background: @gold-light;
		}			
	}
	li.selected > a { 
		background: @gold-light;
	}
	li ul {
		list-style: none;
		padding: 0;
		font-size: .8em;
		font-weight: @bold;
		border-left: solid .5em @mu-gold;
		background-color: lighten(@gold-medium, 10%);
		
		li a {
			padding-left: 1em;
			.text-shadow(0 0 0);
		}
	}
}



/* @end */


/* @group Dates */

.dates {
	margin-bottom: 1.5em;
}

.date-header {
	
	h3 {
		margin-bottom: 0;
		line-height: 1.1;
		font-size: 1.1em;
		.text-shadow(0px 1px 1px @gold-light);
		font-weight: @normal;
	}
	a {
		display: block;
		text-decoration: none;
		padding: 12px 10px;
		border: solid 1px @mu-gold;
		.border-radii(2px,2px,0,0);
		#gradient > .vertical-3(
			@mu-gold,
			lighten(@mu-gold, 30%), 3%,
			lighten(@mu-gold, 15%), 16%,
			@mu-gold, 75% 
		);
		
		&:hover, 
		&:focus { 
			background: lighten(@mu-gold, 20%);
		}
	}
}

.date-content {
	padding: 10px;
	background-color: #e4e4e4;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 1em;
		font-size: .9em;
		
		li {
			margin-bottom: 1em;
		}
		a { 
			line-height: 1.3;
			display: block;
		}
	}
}




/* @end */






