/*! GENERAL STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Globals
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version: 		0.6
  
--------------------------------------------------------------*/

/* @group Tags */

body {
	font-family: @sans;
	font-size: 16px; // DONT CHANGE THIS! At 100%, 1em = 16px, media queries rely on this 
	line-height: 1.5;
	color: #222;
	padding: 0;
	background: #343434 url( '@{img-path}/darkdenim3.png' ) repeat;
	background-size: 420px 326px;
	
	@media @mq-2x {
		background-image: url( '@{img-path}/darkdenim3-2x.png' );
	} 
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #111;
}
h1 {
	font-size: .1em;
	line-height: 1;
}
h2, .like-h2,
article h1,
.aside h1 {
	font-weight: @bold;
	font-size: 2.3em; 
	line-height: 1;
	margin: 0 0 .75em 0;
}
h3, .like-h3,
article h2,
.aside h2 { 
	font-weight: @bold;
	font-size: 1.6em;
	line-height: 1;
	margin: 0 0 1em 0;
}
h4, .like-h4,
article h3,
.aside h3 { 
	font-weight: @bold;
	font-size:1.2em;
	line-height:1.25;
	margin: 0 0 1.25em 0;
}
h5, .like-h5,
article h4,
.aside h4 {
	font-style: italic;
	font-weight: @bold;
	font-size: 1.1em;
	line-height:1.25;
	margin: 0 0 1.25em 0;
}
h6, .like-h6,
article h5,
.aside h5 {
	font-style: italic;
	font-size: 1em;
	line-height:1.25;
	margin: 0 0 1.25em 0;
}

p {
	margin: 0 0 1.5em 0;
}
a:focus, a:hover {
	color: #222;
	text-decoration: none;
}
a {
	color: #222;
	text-decoration: underline;
}
blockquote {
	margin: 0 0 1.5em 0;
	padding-left: 1em;
	border-left: solid 1px @mu-gold;
	color: darken(@mu-gold,10%);
	font-size: 1.6em;
	line-height: 1.4;
	
	p { margin: 0 0 1.5em 0!important; }
	& *:last-child { margin-bottom: 0!important; }
	
}
strong, dfn {
	font-weight: bold;
}
em, dfn {
	font-style: italic;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size: .8em;
	margin-left: .2em;
}

sup {
	bottom: .3em;
}

sub {
	top: .2em;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
address { 
	margin: 0 0 1.5em;
	font-style: italic;
}
del { color: #666; }
pre { 
	margin: 1.5em 0;
	white-space: pre;
}
pre, code, tt {
	font: 1em @mono, monospace; 
	line-height: 1.5; 
}
li ul, li ol { margin: 0; }
ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}
ul { 
	list-style-type: disc; 
	
	&.no-list {
		list-style: none;
		padding: 0;
	}
}


ol { list-style-type: decimal; }
dl { margin: 0 0 30px 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
hr { 
	background: @mu-gold;
	color: @mu-gold;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 0 0 1.45em;
	border: none;
	&.space {
		background: transparent;
		color: transparent;
		visibility: hidden;
	}
}

.box,
.aside {
	h2, h3, h4, h5, h6 {
		margin-bottom: .5em;
	}
}

@media @mq-mobile {
	h2 {
		font-size: 1.8em;
	}
}

/* @end */ 


/* @group GENERAL CLASSES */

small, 
.small { 
	display: block;  
	line-height: 1.4; 
	margin-bottom: 1.2em;
}
img, 
embed, 
object, 
video { 
	width: auto; 
	height: auto; 
	max-width: 100%; 
}
iframe {  
	max-width: 100%; 
}
.bottom { margin-bottom: 0!important; }
.left { float: left!important; }
.right { float: right!important; }

.last { margin-right: 0!important; }
.caps {
	font-size: 90%;
}
.dquo {
	margin-left:-.3em;
}
.quo {
	margin-left:-.2em;
}
iframe { 
	vertical-align: baseline;
}
.box {
	padding: 1em;
	background-color: @gold-light;
	font-size: .9em;
	margin-bottom: 1.5em;
	
	*:last-child {
		margin-bottom: 1px;
	}
}
.dropcap,
.dropcap-hang { 
	font-weight:@bold; 
	float:left; 
	display: block;
	line-height:.7; 
	font-size:5.4em; 
	margin:.11em .08em 0 -.04em; 
}
.dropcap-hang {
	margin-left: -.3em;
}
@media @mq-2 {
	.dropcap,
	.dropcap-hang { 
		line-height:.8; 
		font-size:3.4em; 
		margin:.07em .08em 0 -.04em; 
	}
	.dropcap-hang {
		margin-left: -.2em;
	}
}
.accent { color: @accent !important; }
.center-text { text-align: center; }

/* @end */

/* @group Tables */

table { 
	background-color: transparent; 
	margin-bottom: 1.5em; 
	width: 100%; 
	font-size: .9em;
	
	tr {
		background-color: #eee;
				
		td,
		th {
			padding: .6em; 
			vertical-align: top;
			line-height: 1.2; 
			text-align: left; 
		}
		th {
			font-weight: @bold; 
		}
		&.even { background-color: transparent; }
	}	
	thead {
		font-weight: @bold; 
		font-size: 1.2em; 
		border-bottom: 1px solid @mu-gold; 
		
		strong,
		b { font-weight: @normal; }
		td,
		th { 
			background: @gold-light;
			padding: .5em; 
		}
	}
	tfoot {
		font-style: italic;
		border-top: 1px solid @mu-gold;
	}
	/* Width percentages */
	.w10 { width:10%; }
	.w12 { width:12%; }
	.w15 { width:15%; }
	.w20 { width:20%; }
	.w25 { width:25%; }
	.w30 { width:30%; }
	.w33 { width:33%; }
	.w35 { width:35%; }
	.w40 { width:40%; }
	.w45 { width:45%; }
	.w50 { width:50%; }
	.w55 { width:55%; }
	.w60 { width:60%; }
	.w65 { width:65%; }
	.w66 { width:66%; }
	.w70 { width:70%; }
	.w75 { width:75%; }
	.w80 { width:80%; }
	.w85 { width:85%; }
	.w90 { width:90%; }
}

/* @end */


/* @group Forms */
label {
	font-weight:bold; 
	line-height: 1.1;
	display: block; 
	margin: 0 0 .1em 0;
}
fieldset {
	padding:1em;
	margin:-.5em 0 1.5em 0;
	border:1px solid @mu-gold;
}
legend {
	font-weight:@bold;
	font-size:1.3em;
}
input.text, 
input.title, 
textarea, 
select {
	margin: .5em 0 1em;
	border: 1px solid #bbb;
}
input.text:focus, 
input.title:focus, 
textarea:focus, 
select:focus {
	border: 1px solid #666;
}
input.text, 
input.title {
	width: 95%;
	padding: 1%;
}
input.title {
	font-size: 1.5em;
}
textarea {
	width: 95%;
	height: 250px;
	padding: 1%;
}

input.submit-button {
	font-family: @sans;
	text-align: center;
	padding: .5em 1em .4em;
	line-height: 1.1;
	text-decoration: none;
	border: solid 1px @mu-gold;
	color: #222 !important;
	font-size: .9em;
	font-weight: @normal;
	.text-shadow(0 1px 1px @gold-light);
	.border-radius(2px);
	#gradient > .vertical-3(
		@mu-gold,
		lighten(@mu-gold, 30%), 3%,
		lighten(@mu-gold, 15%), 16%,
		@mu-gold, 75% 
	);
	
	&:hover, 
	&:focus { 
		cursor:pointer; 
		color: #000;
		background: lighten(@mu-gold, 20%);
	}
	
	&::-moz-focus-inner {border:0;}
}
.inline {
	
	li {
		margin-bottom: 1em;
	}
	
	input,
	label {
		display: inline;
		margin-right: .5em;
	}
	
}
/* @end */


/* @group Link Icons */

.email-icon,
.pdf-icon,
.doc-icon,
.xls-icon,
.ppt-icon,
.rtf-icon {
	padding: 2px 0 2px 20px;
	background-repeat: no-repeat;
	background-position: 0 40%;
}

.email-icon {
	background-image: url('@{img-path}/icons/email.png');
	background-image: none, url('@{img-path}/icons/email.svg');
}
.pdf-icon {
	background-image: url('@{img-path}/icons/pdf.png');
	background-image: none, url('@{img-path}/icons/pdf.svg');
}
.doc-icon {
	background-image: url('@{img-path}/icons/doc.png');
	background-image: none, url('@{img-path}/icons/doc.svg');
}
.xls-icon {
	background-image: url('@{img-path}/icons/xls.png');
	background-image: none, url('@{img-path}/icons/xls.svg');
}
.ppt-icon {
	background-image: url('@{img-path}/icons/ppt.png');
	background-image: none, url('@{img-path}/icons/ppt.svg');
}
.rtf-icon {
	background-image: url('@{img-path}/icons/rtf.png');
	background-image: none, url('@{img-path}/icons/rtf.svg');
}

.external-icon {
	padding-right: 14px;
	background-image: url('@{img-path}/icons/external.png');
	background-image: none, url('@{img-path}/icons/external.svg');
	background-position: right center;
	background-repeat: no-repeat;
}
/* @end */


/* @group custom selection colors */

::-moz-selection { 
	color: #000; 
	color: rgba(0,0,0,.85); 
	background: fadeout(@mu-gold, 30%); 
}
::selection { 
	color: #000; 
	color: rgba(0,0,0,.85); 
	background: fadeout(@mu-gold, 30%); 
}

/* @end */


/* @group SKIP TO LINKS */

.offset a { 
	position:absolute; 
	left:-1000em; 
	padding:10px 15px; 
	font-weight:bold; 
	color: #222; 
	font-size: 1em; 
	border: solid 1px @mu-gold;
	#gradient > .vertical-3(
		@mu-gold,
		lighten(@mu-gold, 30%), 3%,
		lighten(@mu-gold, 15%), 16%,
		@mu-gold, 75% 
	);
	.box-shadow();
}
.offset a:focus, 
.offset a:active { 
	position:fixed; 
	top:2em; 
	left:2em; 
	z-index: 1000; 
}

/* @end */