/*! MIZZOU NEWS BANNER STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou News - http://news.missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version:		0.5
  
--------------------------------------------------------------*/

/* @group Banner */

.stage-wrapper {
	display: none; // default is small banner
	background-color: #333;
	background-color: rgba(0,0,0,.3);

	.stage {
		max-width: 1500px;
		min-height: 460px; // Same as Mizzou homepage
		margin: 0 auto;
		.clearfix;
		.box-shadow(0px 0px 50px 8px rgba(0,0,0,.9));
		
		background-repeat: no-repeat;
		background-position: center center;
		.background-size();
		
		@media @mq-3 {
			min-height: 430px;
		}
	}
}


.feature {
	position: relative;
	display: block;
	text-decoration: none;
	
	img {
		vertical-align: bottom;
	}
	p {
		line-height: 1.2;
	}
	.caption { // Default position is bottom right
		background: #111;
		background: rgba(0,0,0,.85);
		position: absolute;
		right: 0;
		bottom: 0;
		width: ((430/700)*100%); 
		padding: ((15/700)*100%); 
		.text-shadow(1px 1px 1px rgba(0,0,0,.9));
		
		&.top-right {
			top: 0;
			bottom: auto;
		}
		&.top-left {
			top: 0;
			bottom: auto;
			left: 0;
			right: auto;
		}
		&.bottom-left {
			left: 0;
			right: auto;
		}
	}
	
	.headline {
		color: #eee;
		margin-bottom: .1em;
		line-height: .9;
		.font-smoothing();
		font-size: 1.8em;
	}
	.teaser {
		margin-bottom: .25em;
		color: #ccc;
	}
	.source {
		margin-bottom: 0;
		color: @mu-gold;
		font-style: italic;
		font-weight: @light;
		font-size: .9em;
		white-space: nowrap;
	}
	
	&:hover,
	&:focus {
		
		.headline {
			color: @mu-gold;
		}
		.caption { 
			background-color: #111;
		}
		
	}
}

.story-feature {
	margin-bottom: 1.5em;
	
	img { width: 100%; }
	
	@media @mq-2 {
		margin-top: -1.5em;
		margin-left: -10px;
		margin-right: -10px;
	}
}

.sm-feature {
	
	.feature {
		margin-bottom: 2em;
	}
	@media @mq-3 {
	
		.feature {
		
			.caption {
				position: relative;
				display: block;
				background-color: #111;
				width: auto;
			}
			img { width: 100%; }
			.headline {
				font-size: 1.6em;
			}
		}
	}
	@media @mq-2 {
	
		margin-top: -1.5em;
		margin-left: -10px;
		margin-right: -10px;
		
		.feature {
			.caption {
				padding: 10px;
			} 
		}

	}
}

.lg-feature {
	.center-block;
	
	.feature {
		width: 100%; 
		height: 420px;
		margin-top: 20px;
		float: right;
		
		// If the banner image is placed on the .feature container
		.background-size();
		background-position: center center;
		
		.caption {
			width: ((430/940)*100%); 
			padding: ((15/940)*100%);
			
			&.top {
				top: 0px;
				bottom: auto;
			}
		}
	}
	@media @mq-3 {
		.feature {
			width: 100%;
			height: 395px;
			margin-top: 16px;
			
			.caption {
				width: ((430/700)*100%);
				padding: ((15/700)*100%);
			}
		}
	}
	
	@media @mq-2 {
		display: none; // hide on mobile
	}
}

.backgroundsize {
	
	.stage-wrapper { 
		display: block; 
	}
	.sm-feature,
	.story-feature  { 
		display: none; 	
	}
	
}
@media @mq-2 {
	.backgroundsize {
	
		.stage-wrapper { 
			display: none; // Keeps mobile devices from downloading the large banner 
			// Must be on the containing element of the banner element to work
		}
		.sm-feature,
		.story-feature { 
			display: block; // Show the small banner on mobile
		}
		
	}
}

.notice,
.nobanner {
	.stage-wrapper { 
		display: none;
	}
	
	.sm-feature {
		display: block;
		color: #fff;
	}	
}
 
.notice .sm-feature {
	.feature { 
		margin: 0 0 2em 0;
	}
	
	a { color: #fff; }
	
	.caption {
		#gradient > .vertical-3(
			#BE0D0B,
			#EE5150, 5%,
			#BE0D0B, 20%,
			#840605, 100% 
		);
		border: 5px solid #BE0D0B;
		width: auto;
		padding: 2em;
		position: relative;
		top: auto;
		display: block;
		bottom: auto;
		margin:0 0 1em 0;
		text-align: center;
	}
	.headline {
		font-size: 3em;
		margin-bottom: .3em;
		color: #fff !important;
	}
	.button {
		margin: 2.5em 0 .5em 0;
	}
 
	@media @mq-3 {
		.caption { padding: 1em; }
		.headline { font-size: 2.5em; }
	}
	@media @mq-2 {
		.caption { top: auto; }
		.headline { font-size: 2em; }
	}
}

/* end */








