/*! MIZZOU NAVIGATION STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
	* Version:		0.3
  
--------------------------------------------------------------*/


/* @group Navigation */

.nav-wrapper {
	padding: 0 10px;
	position: relative;
	z-index: 1;
	border: solid 1px @mu-gold;
	border-left: none;
	border-right: none;
	border-bottom-color: @gold-dark;
	#gradient > .vertical-3(
		@mu-gold,
		lighten(@mu-gold, 30%), 3%,
		lighten(@mu-gold, 15%), 16%,
		@mu-gold, 75% 
	);
	
	@media @mq-2 {
		display: none;
	}
}

#nav {
	.center-block;
	
	> ul {
		list-style: none;
		margin: 0 160px 0 0;
		padding: 0;
		display: block;
		.clearfix;
		
		@media @mq-3 {
			margin: 0;
		}
		
		> li {
			float: left;
			display: block;
			padding: .25em;
			
			a { 
				display: block;
				text-decoration: none;
				.text-shadow(0px 1px 1px @gold-light);
				padding: .25em .7em;
				.border-radius(2px);
				
				&:hover,
				&:focus {
					background: @gold-light;
				}
			}	
		}
		li.home {
			position: relative;
			padding: 1px;
			background: #111;
			margin: -1px .25em -1px 0;
			#gradient > .vertical-3(
				#111,
				lighten(#111, 30%), 3%,
				lighten(#111, 15%), 16%,
				#111, 75% 
			);
			
			a {
				padding: .5em 3em .5em 1em;
				background: transparent url('@{img-path}/arrow-dn.png') no-repeat 82% 50%;
				color: #ddd;
				.text-shadow(0px 1px 1px #000);
				.border-radius(0);
				
				&:hover,
				&:focus {
					color: @mu-gold;	
				}
			}
			&:hover > ul,
			&:focus > ul {
				background-color: #111;
			}
		}
		
		
		
		// Second level dropdown
		
		> li.home > ul {
			z-index: 1000;
			list-style: none;
			padding: 0 0 5px 0;
			top: 100%;
			left: -9999em;
			//left: 0;
			position: absolute;
			width: 220px;
			line-height: 1.2;
			font-size: .95em;
			background-color: #111;
			
			a {
				background-image: none;
				padding: 6px .5em 6px 1em; // Browsers calculate ems on padding differently - this needs to be exact
				
				&:hover,
				&:focus {
					background-color: #333;
					color: @mu-gold;	
				}
				
				@media @mq-3 {
					padding: 5px .5em 5px 1em; // Browsers calculate ems on padding differently - this needs to be exact
				}
				
			}
		}
		> li.home:hover > ul,
		> li.home.hover > ul {
			left: 0;
		}
		> li.home.hover > ul {
			display: block !important; // Keeps accessible dropdowns working
		}
				
		li.apply {
			position: absolute;
			right: 0;
			top: -1px;
			padding: 0;
			background: #111;
			
			.transition();
			
			a {
				padding: .5em 1.5em;
				color: #eee;
				.text-shadow(0 0 0 transparent);
				.border-radius(0);
				background: transparent;
				position: relative;
				z-index: 2;
				border: solid 1px #BE0D0B;
				border-bottom-color: #840605;
				#gradient > .vertical-3(
					#BE0D0B,
					#EE5150, 3%,
					#BE0D0B, 16%,
					#840605, 100% 
				);
								
				&:hover,
				&:focus {
					color: @mu-gold;
				}
			}
			
			@media @mq-3 {
				top: -50px;
				.border-radius(4px);
				
				a {
					padding: .2em 1.5em;
					.border-radius(3px);
				}
			}	
			
			& .truman-head { // Truman Face - Uses a 'span' for transition support
				display: block;
				width: 100%;
				height: 60px;
				background: transparent url('@{img-path}/truman-face.png') no-repeat center top;
				background-size: 80px 83px;
				position: absolute;
				top: -32px;
				z-index: 1;
				.transition(top linear.2s);
			}
			& .truman-hands { // Truman Hands - before the 'li a' element
				display: block;
				width: 100%;
				height: 22px;
				background: transparent url('@{img-path}/truman-paws.png') no-repeat center center;
				background-size: 140px 22px;
				position: absolute;
				top: -9px;
				left: 0px;
				z-index: 3;
			}
			
			&:hover,
			&:focus {
				
				.truman-head {
					top: -52px;
					
					@media @mq-3 {
						top: -45px;
					}
					
				}
			}
			
			@media @mq-2x {
				
				& .truman-head {
					background-image: url('@{img-path}/truman-face-2x.png');
				}
				& .truman-hands {
					background-image: url('@{img-path}/truman-paws-2x.png');
				}
			
			}
		}
	}
}

.inlinesvg {
	#nav > ul li.home > a {
		background-image: url('@{img-path}/arrow-dn.svg');
	}
}


.js #nav > ul > li.home > ul { // Hide for Hoverintent
	display: none;
}

.homepage #nav > ul > li.home > ul { // Show dropdown on homepage
	display: block;
	left: 0;
	min-height: 455px; // Make align with the large banner and stage height
	
	@media @mq-3 {
		min-height: 425px; // Make align with the large banner
	}
}
.backgroundsize .homepage #nav > ul > li.home > ul { // make nav transparent with lg-banner
	background-color: rgba(0,0,0,.85);
	
	&:hover,
	&:focus {
		background-color: #111;
	}
}
html .homepage.notice #nav > ul > li.home > ul,
html .homepage.nobanner #nav > ul > li.home > ul { // make nav opaque with notice alert
	background-color: #111;
}

/* @end */


/* @group Mobile Nav styles */

#mobile-nav,
#mobile-search,
#mobile-main-menu,
#mobile-audience {  
	display:none; 
}

/* @end */

@media @mq-2 {
	#mobile-nav {
		.clearfix;
		position: relative;
		display: block;
		width: 120%; // For no js
		padding: 0 5px 0 0px;
		left: -10px;
		margin-bottom: 1em;
		.border-radii(0, 6px, 6px, 0);
		border: solid 1px #111;
		border-left: none;
		#gradient > .vertical-3(
			#111,
			lighten(#111, 30%), 3%,
			lighten(#111, 15%), 16%,
			#111, 75% 
		);
		
		#menu-button { 
			float: right; 
			width: 47px; 
			height: 47px; 
			
			a { 
				display: block; 
				width: 50px; 
				height: 46px;
				position: relative;
				text-indent: -9999em;
				background: url('@{img-path}/bg-mobile-nav.png') no-repeat center center;
				background-size: 30px 18px;
				
				&.active-button { background-position: center center; }
			}
		}
		
	}
	.js #mobile-nav {
		width: 289px;
	}
	
	#mobile-search {
		background: #111;
		padding: 7px 10px 7px 65px; 
		margin: 0 -10px 1.5em -10px; 
		.clearfix;
		position: relative;
		display: block;
		border: solid 1px @mu-gold;
		border-bottom-color: @gold-dark;
		#gradient > .vertical-3(
			@mu-gold,
			lighten(@mu-gold, 30%), 3%,
			lighten(@mu-gold, 15%), 16%,
			@mu-gold, 75% 
		);
		
		.search { 
			margin: 0; 
			border-color: @gold-dark;
			.border-radius(5px);
			overflow: hidden;
		}
		
		input.search-button {   
			color: #ccc;
			border-color: #111;
			.text-shadow(0 1px 0 #444);
			#gradient > .vertical-3(
				#111,
				lighten(#111, 30%), 3%,
				lighten(#111, 15%), 16%,
				#111, 75% 
			);
			overflow: hidden;
			
			&:hover, 
			&:focus { 
				color: #fff;
				background: #444;
			}
		}
	}
	
	#main-menu-button {
		background-color: #343434;
		#gradient > .vertical-3(
			#333,
			lighten(#333, 20%), 3%,
			lighten(#333, 15%), 26%,
			#111, 100% 
		);
		margin-top: 6px;
		width: 239px;
		.border-radii(0,4px,0,0);
		border: solid 1px #111;
		border-left: none;
		
		a {	
			display: block;
			color: @mu-gold;
			text-decoration: none;
			line-height: 1.2;
			padding: 8px 10px 5px 35px;
			background: url('@{img-path}/arrow-dn.png') no-repeat 10px 55%;
		}
	}

	#mobile-main-menu {
		display: none; // with js
		position: relative;
		top: -1.5em;
		margin-left: -10px;
		margin-right: -10px;
		padding-bottom: 8px;
		margin-bottom: 0;
		background: #111;
		.border-radii(0, 0, 2px, 2px);
		border: none;
		
		a {
			padding: .55em 11px .55em 11px;
			color: #ddd;
			.text-shadow(0 0 0 transparent);
			
			&:hover,
			&:focus {
				background: #333;
				background: rgba(225,225,225,.25);
				color: @mu-gold;	
			}
		}
		&.active-menu {
			display: block;
		}
	}
	.no-js #mobile-main-menu {
		display: block;
	}
	
	
	#mobile-audience {
		display: block;
		
		> ul {
			#gradient > .vertical-3(
				@gold-medium,
				lighten(@mu-gold, 30%), 3%,
				lighten(@mu-gold, 15%), 16%,
				@mu-gold, 75% 
			);		
			a {
				.text-shadow(0px 1px 1px @gold-light);
				&:hover,
				&:focus {
					background: @gold-light;
				}
			}
			
		}			
		.apply {
			padding: 0;
			position: relative;
			margin-bottom: 1.5em;
			margin-top: 2.6em;
			.border-radius(3px);
			.transition();
			
			a {
				display: block;
				padding: .5em 1.5em;
				text-align: center;
				text-decoration: none;
				color: #eee;
				.text-shadow(0 0 0 transparent);
				.border-radius(0);
				position: relative;
				z-index: 2;
				border: solid 1px #BE0D0B;
				border-bottom-color: #840605;
				.border-radius(3px);
				#gradient > .vertical-3(
					#BE0D0B,
					#EE5150, 3%,
					#BE0D0B, 16%,
					#840605, 100% 
				);
								
				&:hover,
				&:focus {
					color: @mu-gold;
				}
			}
			
			& .truman-head { // Truman Face - Uses a 'span' for transition support
				display: block;
				width: 100%;
				height: 60px;
				background: transparent url('@{img-path}/truman-face.png') no-repeat center top;
				background-size: 80px 83px;
				position: absolute;
				top: -32px;
				z-index: 1;
				.transition(top linear.2s);
			}
			& .truman-hands { // Truman Hands - before the 'li a' element
				display: block;
				width: 100%;
				height: 22px;
				background: transparent url('@{img-path}/truman-paws.png') no-repeat center center;
				background-size: 140px 22px;
				position: absolute;
				top: -9px;
				left: 0px;
				z-index: 3;
			}
			
			&:hover,
			&:focus {
				
				.truman-head {
					top: -48px;
				}
			}
		}
	}
	
	.inlinesvg {
		#mobile-nav #menu-button a { 
			background-image: url('@{img-path}/bg-mobile-nav.svg');
		}
		#main-menu-button a {	
			background-image: url('@{img-path}/arrow-dn.svg');
		}

	}
}
@media @mq-2x {
				
	#mobile-audience .apply .truman-head {
		background-image: url('@{img-path}/truman-face-2x.png');
	}
	#mobile-audience .apply .truman-hands {
		background-image: url('@{img-path}/truman-paws-2x.png');
	}

}
/* @end */
