/*! PROMO - MMU STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage - http://missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
  
--------------------------------------------------------------*/

@import 'mixers-2.0.less';
@import 'mizzou_vars.less';


.promo-wrapper {
	border-top: solid 1px #D6D6D6;
	background-color: @bg-light;
}

.promo {
	.center-block;
	padding: 1.5em 0;
}

.promo-mmu {
	
	h2 {
		.img-replace;
		width: 680px;
		height: 100px;
		background: url('@{img-path}/mmu-arrow.png') no-repeat 0 0;
		margin-left: -43px; 
	}
	
	.news-tiles {
	
		.news-item.clear { clear:none; }
		
		b {
			color: #900000;
			font-size: 1.6em;
			line-height: 1;
		}
		h3 {
			font-size: 1.2em;
		}
	}
	
	@media @mq-3 {
		
		.news-item {
			width: 46.875%;
			margin-left: 1.5625%;
			margin-right: 1.5625%;
		}
		
	}
	
	@media @mq-2 {
		
		padding: 0 10px;
		
		h2 { 
			margin-left: -10px;
			margin-right: -10px;
			width: auto;
			background-size: 100%;
			height: 2.7em;
		}
		
	}
	@media @mq-mobile {
		
		h2 {
			height: 1.8em;
		}
		.news-item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
.inlinesvg {
	.promo-mmu h2 {
		background-image: url('@{img-path}/mmu-arrow.svg'); 
	}
}