/*! MIZZOU SCREEN STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage - http://missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
  
--------------------------------------------------------------*/


/* @group Import MU Framework so framwork is outside project */
	
	/* Framework */
	@import 'normalize-2.0.1.less';
	@import 'mixers-2.0.less';
	
	/* Vars */
	@import 'mizzou_vars.less';
	
	/* MU Globals */
	@import 'mizzou_fonts.less';
	@import 'mizzou_general.less';
	@import 'mizzou_header.less';
	@import 'mizzou_footer.less'; 
	@import	'mizzou_objects.less'; 
	@import 'mizzou_news-items.less';
	@import 'mizzou_banner.less';
	@import 'mizzou_content.less';
	
	/* Mizzou site */
	@import 'navigation.less';
	@import 'structure.less';

/* @end */ 


/* @group Site specific styles */
.gateway-content {
	
	ul li {
		line-height: 1.2;
		margin-bottom: .5em;
	}
	
}
.top-10 {
	
	h2 {
		width: 55px;
		float: left;
		margin: 0;
		.clear;
	}
	p {
		margin-left: 55px;
	}
	
	@media @mq-mobile {
		
		h2 { width: 45px; }
		p { margin-left: 45px; }
	}
}


.spirit {
	
	img {
		width: 100%;
	}
	
}

.back-to-top {
	.img-replace();
	float: right;
	color: #ccc;
	width: 32px;
	height: 32px;
	background: url('@{img-path}/arrow-to-top.png') no-repeat 0 0;
	background: none, url('@{img-path}/arrow-to-top.svg') no-repeat 0 0;
}

/* @end */ 