/*! MIZZOU STRUCTURE STYLES */
/*--------------------------------------------------------------
  
	* Site:			Mizzou Homepage - http://missouri.edu
	* Author:		Josh Nichols, MU Web Communications
	* Compiler: 	LESS CSS http://lesscss.org/
  
--------------------------------------------------------------*/


/* @group Brand (H1) */

	/* Masthead bg image size variables */
	@width:				180;
	@height:			130;
	@display-height: 	45;	// Accomodates lack of decenders in h1

#masthead a {
	margin-bottom: 5px;
	width: 180px; //0px+@width;
	height: 45px; //0px+@display-height;
	background: url('@{img-path}/mizzou.png') no-repeat 0 0;

	&:hover {
		background-position: 0 -65px; //round(0px-( @height / 2 )); 
	}
	
	@media @mq-2 {
		
		// Amount to reduce 
		@percent:	.85;
		
		width: round(0px+( @width * @percent ));
		height: round(0px+( @display-height * @percent ));
		background-size: round(0px+( @width * @percent )) round(0px+( @height * @percent ));
		
		&:hover {
			background-position: 0 round(0px-( @height * @percent / 2 ));
		}
	}
}
.inlinesvg {
	
	#masthead a {
		background-image: url('@{img-path}/mizzou.svg');
	}
	
}
/* @end */



/* @group Structure -- CAREFUL EDITING THIS STUFF! -------------------- */

#main {
	.center-block;
}

#main-aside { // For left navigation 
	float: left;
	width: ((220/940)*100%);
}

.aside { // default position
	float: right;
	width: ((220/700)*100%);
}

#main-content { // With left navigation 
	float: right;
	width: ((700/940)*100%);
}
.content { // default position
	float: left;
	width: ((460/700)*100%);
}

.content,
.aside { 
	margin-bottom: 1.5em;
}

.wide {
	
	#main-aside { 
		width: 0; 
	}	
	#main-content { 
		width: 100%; 
	}
	
	.aside { // default position
		width: ((220/940)*100%);
	}
	
	.content {
		width: ((700/940)*100%);
		
		.col-1 {
			float: left;
			width: ((340/700)*100%); 
		}
		.col-2 {
			float: right;
			width: ((340/700)*100%);
		}
	}
}
.col-1 {
	float: left;
	width: ((340/700)*100%); 
}
.col-2 {
	float: right;
	width: ((340/700)*100%);
}

.homepage .aside,
html .homepage.notice .aside,
html .homepage.nobanner .aside {
	margin-top: 460px; // Depends on height set on nav dropdown
}
.backgroundsize .homepage .aside { // if large banner, no margin
	margin-top: 0;
}

.gateway-nav {
	float: left;
	width: 23.4042553191%; /* 220/940 */
	margin-bottom: .5em;
	
	.subnav { 
		border-color: #111; 
		background: #111;
	}
	
	.subnav li a {
		background: #111;
		color: #ddd;
		.text-shadow(0 0 0 transparent);
		
		&:hover,
		&:focus {
			background-color: #333;
			color: @mu-gold;
		}
	}
}
.gateway-main {
	float: right;
	width: 74.4680851064%; // 700/940
	
	.gateway-content {
		float: left;
		width: 65.7142857143%; // 460/700
		margin-bottom: 1em;
		.clearfix;
		
		.col-1 {
			float: left;
			width: 47.8260869565%; // 220/460
		}
		.col-2 {
			float: right;
			width: 47.8260869565%; // 220/460
		}
	}
	.gateway-aside {
		float: right;
		width: 31.4285714286%; // 220/700
		margin-bottom: 1em;
		.clearfix;
	}
}

.a-z-nav {
	float: left;
	list-style: none;
	padding: 0;
	width: ((60/700)*100%);
	max-width: 65px;
		
	a {
		display: block;
		text-decoration: none;
		text-align: center;
		margin-bottom: .5em;
		background: #111;
		color: #eee;
		padding: .3em 0; 
		font-size: 1.2em;
		.border-radius();
		border: solid 1px #111;
	}
	
	& a:hover,
	& a:focus,
	& li.current_page_item a {
		color: #111;
		border-color: @mu-gold;
		#gradient > .vertical-3(
			@mu-gold,
			lighten(@mu-gold, 30%), 3%,
			lighten(@mu-gold, 15%), 16%,
			@mu-gold, 75% 
		);
	}
}

.a-z-list {
	float: right;
	margin: 0 0 1.5em 0;
	padding: 0;
	width: ((600/700)*100%);
	list-style: none;
	
	li {
		margin-bottom: 1.2em;
		line-height: 1.2;
	}
}

.directory-meta {
	h3 { margin-bottom: 0; }
	.meta-result {
		color: @accent;
		font-weight: @bold;
	}
}
.directory-results {

	.results {
		list-style: none;
		padding: 0;
		
		.item { margin-bottom: 2.5em; }
		.name { margin-bottom: .5em; }
		.info {}
	}
}
	


@media @mq-3 {
	
	.homepage .aside,
	html .homepage.notice .aside,
	html .homepage.nobanner .aside {
		margin-top: 430px; // Override height set on nav dropdown
	}
	
	#main-aside {
		width: 31.4285714286%;
	}
	.wide #main-aside {
		width: 0;
	}
	#main-content {
		width: 65.7142857143%;
	}
	.aside {
		width: 100%;
	}	
	.content { 
		width: 100%;
	}
	.wide {
	
		#main-content {
			width: 100%;
		}
		.aside {
			width: ((220/700)*100%);
		}	
		.content { 
			width: ((460/700)*100%);
			
			.col-1 {
				float: left;
				width: ((340/700)*100%); 
			}
			.col-2 {
				float: right;
				width: ((340/700)*100%);
			}
			
		}
	}
	
	.col-1 {
		float: left;
		width: ((220/460)*100%); 
	}
	.col-2 {
		float: right;
		width: ((220/460)*100%);
	}
	
	.gateway-nav {
		width: 31.4285714286%; // 220/700
	}
	.gateway-main {
		width: 65.7142857143%; // 460/700
		
		.gateway-content {
			width: 100%;
		}
		.gateway-aside {
			width: 100%;
		}
	}
	.a-z-nav {
		width: ((60/460)*100%);
	}
	.a-z-list {
		width: ((360/460)*100%);
	}
}

@media @mq-2 {
	
	.homepage .aside,
	html .homepage.notice .aside {
		margin-top: 0px; // Override height set on nav dropdown
	}
	
	#wrapper { overflow: hidden; } // keeps mobile view from l/r scrolling
	
	#main-aside,
	#main-content {
		//.transition();
		display: block;	
		position: relative;
	}
	.wide #main-aside, // no js
	#main-aside {
		width: 100%;
	}
	.wide #main-content, // no js
	#main-content {
		width: 100%;
	}
	
	.js .wide #main-aside,
	.js #main-aside { 
		margin-left: -240px; 
		margin-top: -4px;
		float: left;
		padding-bottom: 1.5em;
		z-index: 200;	
		width: 220px; 
	}
	.js .wide #main-content,
	.js #main-content { 
		-moz-box-sizing:    border-box;
   		-webkit-box-sizing: border-box;
    	box-sizing:        	border-box;
		float: right;
		z-index: 100;
		position: relative;
		width: 100%;
	}
	.active-nav #main-aside {	
		margin-left: 0 !important;	
	}
	.active-nav #main-content {
		margin-right: -15em !important; // -240px
	}
	.small-screen #main-aside,
	.small-screen #main-content {
		.transition(); // Here so it doesn't cause transition on page load ??? WTF ???
	}
	
	.wide {
		.aside {
			width: 100%;
		}	
	
		.content { 
			width: 100%; 
		}
	}
	
	.gateway-nav {
		width: 100%;
	}
	.gateway-main {
		width: 100%;
		
	}
	.a-z-nav {
		width: ((40/300)*100%); 
	}
	.a-z-list {
		width: ((240/300)*100%);
	}
	
}
@media @mq-mobile {
	.wide .content .col-1,
	.wide .content .col-2,
	.col-1,
	.col-2 {
		float: none;
		width: 100%; 
	}
	.gateway-main {
		.gateway-content {
			margin-right: 0;
			margin-left: 0;
			
			.col-1,
			.col-2 {
				float: none;
				width: 100%;
			}
		}
	}
}
/* end */
















